USE [SOPORTE]
GO
/****** Object:  Table [dbo].[CONTRATO]    Script Date: 13-01-2021 11:01:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTRATO](
	[COD_CONTRATO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_CLIENTE] [nvarchar](80) NULL,
	[PERSONA_CONTACTO] [nvarchar](80) NULL,
	[FECHA_DOCUMENTO] [date] NULL,
	[NOMBRE_CONTRATO] [nvarchar](80) NULL,
	[FECHA_INICIO_CONTRATO] [date] NULL,
	[FECHA_TERMINO_CONTRATO] [date] NULL,
	[DESCRIPCION] [nvarchar](200) NULL,
	[COD_CLIENTE] [nvarchar](80) NULL,
	[COD_PERSONA_CONTACTO] [nvarchar](80) NULL,
	[NUMERO_CONTRATO] [nvarchar](80) NULL,
	[TIPO_PERIODO] [int] NULL,
	[ESTADO] [nvarchar](3) NULL,
	[TIPO_CONTRATO] [nvarchar](80) NULL,
	[HORAS] [float] NULL,
	[HORAS_RESTANTES] [float] NULL,
	[ADJUNTO] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_CONTRATO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADO]    Script Date: 13-01-2021 11:01:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADO](
	[COD_ESTADO] [int] IDENTITY(1,1) NOT NULL,
	[ESTADO_DESCRIPCION] [nvarchar](200) NULL,
	[COD_OPERACION] [int] NULL,
	[ENVIAR_CORREO] [int] NULL,
	[ES_ESCALADO] [int] NULL,
	[CODIGO_SAP] [nvarchar](50) NULL,
 CONSTRAINT [PK_ESTADO] PRIMARY KEY CLUSTERED 
(
	[COD_ESTADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MENSAJE]    Script Date: 13-01-2021 11:01:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MENSAJE](
	[COD_MENSAJE] [int] IDENTITY(1,1) NOT NULL,
	[COD_TICKET] [int] NULL,
	[COD_USUARIO] [int] NULL,
	[FECHA_MENSAJE] [date] NULL,
	[HORA_MENSAJE] [time](7) NULL,
	[COMENTARIO] [nvarchar](200) NULL,
	[VISTO] [int] NULL,
	[ADJUNTO] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_MENSAJE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPERACION]    Script Date: 13-01-2021 11:01:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPERACION](
	[COD_OPERACION] [int] IDENTITY(1,1) NOT NULL,
	[OPERACION_DESCRIPCION] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_OPERACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RESOLUCION_SOPORTE_AREA]    Script Date: 13-01-2021 11:01:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESOLUCION_SOPORTE_AREA](
	[COD_RESOLUCION_SOPORTE_AREA] [int] IDENTITY(1,1) NOT NULL,
	[COD_TICKET] [int] NULL,
	[DESCRIPCION] [nvarchar](200) NULL,
	[HORAS] [float] NULL,
	[AREA] [nvarchar](60) NULL,
	[HORA_CREACION] [time](7) NULL,
	[FECHA] [date] NULL,
	[ADJUNTO] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_RESOLUCION_SOPORTE_AREA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROL]    Script Date: 13-01-2021 11:01:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROL](
	[COD_ROL] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [nvarchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_ROL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SOLUCION]    Script Date: 13-01-2021 11:01:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SOLUCION](
	[COD_RESOLUCION] [int] IDENTITY(1,1) NOT NULL,
	[COD_TICKET] [int] NULL,
	[HORAS] [float] NULL,
	[DESCRIPCION] [nvarchar](250) NULL,
	[FECHA] [date] NULL,
	[HORA_CREACION] [time](7) NULL,
	[ADJUNTO] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_RESOLUCION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TICKET]    Script Date: 13-01-2021 11:01:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TICKET](
	[COD_TICKET] [int] IDENTITY(1,1) NOT NULL,
	[COD_USUARIO_SOLICITANTE] [int] NULL,
	[COD_USUARIO_SOPORTE] [int] NULL,
	[FECHA_SOLICITUD] [date] NULL,
	[HORA_SOLICITUD] [time](7) NULL,
	[NIVEL_URGENCIA] [nvarchar](30) NULL,
	[TIPO_PROBLEMA] [nvarchar](30) NULL,
	[COMENTARIO] [nvarchar](200) NULL,
	[URL_ADJUNTO] [nvarchar](200) NULL,
	[ESTADO] [nvarchar](50) NULL,
	[VISTO] [int] NULL,
	[DESCRIPCION] [nvarchar](200) NULL,
	[ID_CONTRATO] [nvarchar](30) NULL,
	[TIPO_CONTRATO] [nvarchar](200) NULL,
	[RESOLUCION] [nvarchar](200) NULL,
	[HORAS] [int] NULL,
	[COD_USUARIO_AREA] [int] NULL,
	[COD_SAP] [int] NULL,
	[ADJUNTO] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_TICKET] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 13-01-2021 11:01:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[COD_USUARIO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_CLIENTE] [nvarchar](50) NOT NULL,
	[CORREO] [nvarchar](100) NOT NULL,
	[TELEFONO] [int] NULL,
	[ESACTIVO] [int] NULL,
	[CONTRASEÑA] [nvarchar](100) NULL,
	[COD_ROL] [int] NULL,
	[COD_CLIENTE] [nvarchar](50) NULL,
	[NOMBRE_CONTACTO] [nvarchar](100) NULL,
	[COD_CONTACTO] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CONTRATO] ON 

INSERT [dbo].[CONTRATO] ([COD_CONTRATO], [NOMBRE_CLIENTE], [PERSONA_CONTACTO], [FECHA_DOCUMENTO], [NOMBRE_CONTRATO], [FECHA_INICIO_CONTRATO], [FECHA_TERMINO_CONTRATO], [DESCRIPCION], [COD_CLIENTE], [COD_PERSONA_CONTACTO], [NUMERO_CONTRATO], [TIPO_PERIODO], [ESTADO], [TIPO_CONTRATO], [HORAS], [HORAS_RESTANTES], [ADJUNTO]) VALUES (31, N'ADA Technologies', N'Norm Thompson', CAST(N'2020-10-20' AS Date), N'Plata', CAST(N'2006-04-05' AS Date), CAST(N'2012-12-31' AS Date), N' ', N'C50000', N'1', N'5', 1, N'A', N'Soporte', 12, 0.32, N'SIN ADJUNTO')
INSERT [dbo].[CONTRATO] ([COD_CONTRATO], [NOMBRE_CLIENTE], [PERSONA_CONTACTO], [FECHA_DOCUMENTO], [NOMBRE_CONTRATO], [FECHA_INICIO_CONTRATO], [FECHA_TERMINO_CONTRATO], [DESCRIPCION], [COD_CLIENTE], [COD_PERSONA_CONTACTO], [NUMERO_CONTRATO], [TIPO_PERIODO], [ESTADO], [TIPO_CONTRATO], [HORAS], [HORAS_RESTANTES], [ADJUNTO]) VALUES (32, N'ADA Technologies', N'Norm Thompson', CAST(N'2020-10-20' AS Date), N'Plata', CAST(N'2006-09-25' AS Date), CAST(N'2012-12-31' AS Date), N' ', N'C50000', N'1', N'19', 1, N'A', N'Keyrem', 12, 6, N'202010261549182_1_10_Resumen_de_la_Unidad.pptx')
INSERT [dbo].[CONTRATO] ([COD_CONTRATO], [NOMBRE_CLIENTE], [PERSONA_CONTACTO], [FECHA_DOCUMENTO], [NOMBRE_CONTRATO], [FECHA_INICIO_CONTRATO], [FECHA_TERMINO_CONTRATO], [DESCRIPCION], [COD_CLIENTE], [COD_PERSONA_CONTACTO], [NUMERO_CONTRATO], [TIPO_PERIODO], [ESTADO], [TIPO_CONTRATO], [HORAS], [HORAS_RESTANTES], [ADJUNTO]) VALUES (33, N'Norm Thompson', N'Norm Thompson', CAST(N'2020-10-26' AS Date), N'Oro', CAST(N'2006-03-17' AS Date), CAST(N'2012-12-31' AS Date), N' DSF', N'C20000', N'1', N'4', 1, N'A  ', N'Soporte', 12, 12, N'202010261543323.1.12 Caso final Programa de capacitacio´n.pdf')
SET IDENTITY_INSERT [dbo].[CONTRATO] OFF
GO
SET IDENTITY_INSERT [dbo].[ESTADO] ON 

INSERT [dbo].[ESTADO] ([COD_ESTADO], [ESTADO_DESCRIPCION], [COD_OPERACION], [ENVIAR_CORREO], [ES_ESCALADO], [CODIGO_SAP]) VALUES (54, N'01 Ticket Creado', 5, 1, 0, N'5')
INSERT [dbo].[ESTADO] ([COD_ESTADO], [ESTADO_DESCRIPCION], [COD_OPERACION], [ENVIAR_CORREO], [ES_ESCALADO], [CODIGO_SAP]) VALUES (55, N'02 Contacto Cliente', 4, 1, 0, N'4')
INSERT [dbo].[ESTADO] ([COD_ESTADO], [ESTADO_DESCRIPCION], [COD_OPERACION], [ENVIAR_CORREO], [ES_ESCALADO], [CODIGO_SAP]) VALUES (56, N'03A Esc.Partnet', 7, 0, 1, N'3')
SET IDENTITY_INSERT [dbo].[ESTADO] OFF
GO
SET IDENTITY_INSERT [dbo].[MENSAJE] ON 

INSERT [dbo].[MENSAJE] ([COD_MENSAJE], [COD_TICKET], [COD_USUARIO], [FECHA_MENSAJE], [HORA_MENSAJE], [COMENTARIO], [VISTO], [ADJUNTO]) VALUES (484, 210, 23, CAST(N'2020-11-14' AS Date), CAST(N'14:56:59' AS Time), N'Ticket cerrado por el cliente ', 1, N'0')
INSERT [dbo].[MENSAJE] ([COD_MENSAJE], [COD_TICKET], [COD_USUARIO], [FECHA_MENSAJE], [HORA_MENSAJE], [COMENTARIO], [VISTO], [ADJUNTO]) VALUES (485, 210, 23, CAST(N'2020-11-14' AS Date), CAST(N'14:57:22' AS Time), N'Ticket cerrado por el cliente ', 1, N'0')
INSERT [dbo].[MENSAJE] ([COD_MENSAJE], [COD_TICKET], [COD_USUARIO], [FECHA_MENSAJE], [HORA_MENSAJE], [COMENTARIO], [VISTO], [ADJUNTO]) VALUES (486, 210, 23, CAST(N'2020-11-14' AS Date), CAST(N'15:03:46' AS Time), N'Ticket cerrado por el cliente ', 1, N'0')
GO
SET IDENTITY_INSERT [dbo].[MENSAJE] OFF
GO
SET IDENTITY_INSERT [dbo].[OPERACION] ON 

INSERT [dbo].[OPERACION] ([COD_OPERACION], [OPERACION_DESCRIPCION]) VALUES (1, N'FINALIZAR TICKET')
INSERT [dbo].[OPERACION] ([COD_OPERACION], [OPERACION_DESCRIPCION]) VALUES (2, N'ESCALAR TICKET')
INSERT [dbo].[OPERACION] ([COD_OPERACION], [OPERACION_DESCRIPCION]) VALUES (3, N'ENVIAR RESOLUCIÓN')
SET IDENTITY_INSERT [dbo].[OPERACION] OFF
GO
SET IDENTITY_INSERT [dbo].[RESOLUCION_SOPORTE_AREA] ON 

INSERT [dbo].[RESOLUCION_SOPORTE_AREA] ([COD_RESOLUCION_SOPORTE_AREA], [COD_TICKET], [DESCRIPCION], [HORAS], [AREA], [HORA_CREACION], [FECHA], [ADJUNTO]) VALUES (16, 210, N'DSADASDSASDA', 1, N'DESARROLLO', CAST(N'17:49:32' AS Time), CAST(N'2020-11-15' AS Date), N'0')
INSERT [dbo].[RESOLUCION_SOPORTE_AREA] ([COD_RESOLUCION_SOPORTE_AREA], [COD_TICKET], [DESCRIPCION], [HORAS], [AREA], [HORA_CREACION], [FECHA], [ADJUNTO]) VALUES (17, 212, N'ASDASDSA', 1, N'DESARROLLO', CAST(N'12:21:47' AS Time), CAST(N'2020-11-17' AS Date), N'0')
INSERT [dbo].[RESOLUCION_SOPORTE_AREA] ([COD_RESOLUCION_SOPORTE_AREA], [COD_TICKET], [DESCRIPCION], [HORAS], [AREA], [HORA_CREACION], [FECHA], [ADJUNTO]) VALUES (18, 210, N'CXVSVSDV', 12, N'DESARROLLO', CAST(N'12:21:55' AS Time), CAST(N'2020-11-17' AS Date), N'0')
SET IDENTITY_INSERT [dbo].[RESOLUCION_SOPORTE_AREA] OFF
GO
SET IDENTITY_INSERT [dbo].[ROL] ON 

INSERT [dbo].[ROL] ([COD_ROL], [DESCRIPCION]) VALUES (1, N'ADMINISTRADOR')
INSERT [dbo].[ROL] ([COD_ROL], [DESCRIPCION]) VALUES (2, N'SOPORTE')
INSERT [dbo].[ROL] ([COD_ROL], [DESCRIPCION]) VALUES (3, N'CLIENTE')
SET IDENTITY_INSERT [dbo].[ROL] OFF
GO
SET IDENTITY_INSERT [dbo].[SOLUCION] ON 

INSERT [dbo].[SOLUCION] ([COD_RESOLUCION], [COD_TICKET], [HORAS], [DESCRIPCION], [FECHA], [HORA_CREACION], [ADJUNTO]) VALUES (10, 175, 1.3, N'La solucon es esto.', CAST(N'2020-10-27' AS Date), CAST(N'15:45:57' AS Time), N'0')
INSERT [dbo].[SOLUCION] ([COD_RESOLUCION], [COD_TICKET], [HORAS], [DESCRIPCION], [FECHA], [HORA_CREACION], [ADJUNTO]) VALUES (11, 210, 1, N'dEBO HACER ESTO.', CAST(N'2020-11-15' AS Date), CAST(N'13:37:41' AS Time), N'0')
INSERT [dbo].[SOLUCION] ([COD_RESOLUCION], [COD_TICKET], [HORAS], [DESCRIPCION], [FECHA], [HORA_CREACION], [ADJUNTO]) VALUES (12, 210, 1, N'wsdfsfssd', CAST(N'2020-11-15' AS Date), CAST(N'14:13:30' AS Time), N'0')
SET IDENTITY_INSERT [dbo].[SOLUCION] OFF
GO
SET IDENTITY_INSERT [dbo].[TICKET] ON 

INSERT [dbo].[TICKET] ([COD_TICKET], [COD_USUARIO_SOLICITANTE], [COD_USUARIO_SOPORTE], [FECHA_SOLICITUD], [HORA_SOLICITUD], [NIVEL_URGENCIA], [TIPO_PROBLEMA], [COMENTARIO], [URL_ADJUNTO], [ESTADO], [VISTO], [DESCRIPCION], [ID_CONTRATO], [TIPO_CONTRATO], [RESOLUCION], [HORAS], [COD_USUARIO_AREA], [COD_SAP], [ADJUNTO]) VALUES (210, 35, 20, CAST(N'2020-11-14' AS Date), CAST(N'12:22:56' AS Time), N'Bajo', N'Instalación SAP', N'nO SE puede Instalar saP', N'20201114122256script.sql', N'-1', 0, N'Instalación SAP', N'23', N'Soporte', NULL, NULL, 28, 1321, NULL)
INSERT [dbo].[TICKET] ([COD_TICKET], [COD_USUARIO_SOLICITANTE], [COD_USUARIO_SOPORTE], [FECHA_SOLICITUD], [HORA_SOLICITUD], [NIVEL_URGENCIA], [TIPO_PROBLEMA], [COMENTARIO], [URL_ADJUNTO], [ESTADO], [VISTO], [DESCRIPCION], [ID_CONTRATO], [TIPO_CONTRATO], [RESOLUCION], [HORAS], [COD_USUARIO_AREA], [COD_SAP], [ADJUNTO]) VALUES (211, 35, 20, CAST(N'2020-11-16' AS Date), CAST(N'16:50:28' AS Time), N'Medio', N'Instalación SAP', N'Hola', N'20201116165028homerocatolico_456_336.jpg', N'-1', 0, N'Instalación SAP', N'23', N'Soporte', NULL, NULL, 36, 1322, NULL)
SET IDENTITY_INSERT [dbo].[TICKET] OFF
GO
SET IDENTITY_INSERT [dbo].[USUARIO] ON 

INSERT [dbo].[USUARIO] ([COD_USUARIO], [NOMBRE_CLIENTE], [CORREO], [TELEFONO], [ESACTIVO], [CONTRASEÑA], [COD_ROL], [COD_CLIENTE], [NOMBRE_CONTACTO], [COD_CONTACTO]) VALUES (19, N'Parameter Technology', N'smoust321@outlook.cl', 5461743, 1, N'qazxsw2134e', 1, N'C23900', N'Daniel Brown', N'3')
INSERT [dbo].[USUARIO] ([COD_USUARIO], [NOMBRE_CLIENTE], [CORREO], [TELEFONO], [ESACTIVO], [CONTRASEÑA], [COD_ROL], [COD_CLIENTE], [NOMBRE_CONTACTO], [COD_CONTACTO]) VALUES (20, N'SG Electronics', N'vicente.munoz@kyros.cl', 5461743, 1, N'qazxsw2134e', 2, N'C60000', N'Eric Alexander', N'12')
INSERT [dbo].[USUARIO] ([COD_USUARIO], [NOMBRE_CLIENTE], [CORREO], [TELEFONO], [ESACTIVO], [CONTRASEÑA], [COD_ROL], [COD_CLIENTE], [NOMBRE_CONTACTO], [COD_CONTACTO]) VALUES (21, N'ADA Technologies', N'ada@gmail.com', 5461743, 1, N'qazxsw2134e', 3, N'C50000', N'Mary Brown', N'11')
SET IDENTITY_INSERT [dbo].[USUARIO] OFF
GO
ALTER TABLE [dbo].[MENSAJE]  WITH CHECK ADD FOREIGN KEY([COD_TICKET])
REFERENCES [dbo].[TICKET] ([COD_TICKET])
GO
ALTER TABLE [dbo].[MENSAJE]  WITH CHECK ADD FOREIGN KEY([COD_TICKET])
REFERENCES [dbo].[TICKET] ([COD_TICKET])
GO
ALTER TABLE [dbo].[MENSAJE]  WITH CHECK ADD FOREIGN KEY([COD_TICKET])
REFERENCES [dbo].[TICKET] ([COD_TICKET])
GO
ALTER TABLE [dbo].[MENSAJE]  WITH CHECK ADD FOREIGN KEY([COD_TICKET])
REFERENCES [dbo].[TICKET] ([COD_TICKET])
GO
ALTER TABLE [dbo].[MENSAJE]  WITH CHECK ADD FOREIGN KEY([COD_TICKET])
REFERENCES [dbo].[TICKET] ([COD_TICKET])
GO
ALTER TABLE [dbo].[MENSAJE]  WITH CHECK ADD FOREIGN KEY([COD_TICKET])
REFERENCES [dbo].[TICKET] ([COD_TICKET])
GO
ALTER TABLE [dbo].[MENSAJE]  WITH CHECK ADD FOREIGN KEY([COD_USUARIO])
REFERENCES [dbo].[USUARIO] ([COD_USUARIO])
GO
ALTER TABLE [dbo].[MENSAJE]  WITH CHECK ADD FOREIGN KEY([COD_USUARIO])
REFERENCES [dbo].[USUARIO] ([COD_USUARIO])
GO
ALTER TABLE [dbo].[MENSAJE]  WITH CHECK ADD FOREIGN KEY([COD_USUARIO])
REFERENCES [dbo].[USUARIO] ([COD_USUARIO])
GO
ALTER TABLE [dbo].[MENSAJE]  WITH CHECK ADD FOREIGN KEY([COD_USUARIO])
REFERENCES [dbo].[USUARIO] ([COD_USUARIO])
GO
ALTER TABLE [dbo].[MENSAJE]  WITH CHECK ADD FOREIGN KEY([COD_USUARIO])
REFERENCES [dbo].[USUARIO] ([COD_USUARIO])
GO
ALTER TABLE [dbo].[MENSAJE]  WITH CHECK ADD FOREIGN KEY([COD_USUARIO])
REFERENCES [dbo].[USUARIO] ([COD_USUARIO])
GO
ALTER TABLE [dbo].[RESOLUCION_SOPORTE_AREA]  WITH CHECK ADD FOREIGN KEY([COD_TICKET])
REFERENCES [dbo].[TICKET] ([COD_TICKET])
GO
ALTER TABLE [dbo].[RESOLUCION_SOPORTE_AREA]  WITH CHECK ADD FOREIGN KEY([COD_TICKET])
REFERENCES [dbo].[TICKET] ([COD_TICKET])
GO
ALTER TABLE [dbo].[RESOLUCION_SOPORTE_AREA]  WITH CHECK ADD FOREIGN KEY([COD_TICKET])
REFERENCES [dbo].[TICKET] ([COD_TICKET])
GO
ALTER TABLE [dbo].[TICKET]  WITH CHECK ADD FOREIGN KEY([COD_USUARIO_SOPORTE])
REFERENCES [dbo].[USUARIO] ([COD_USUARIO])
GO
ALTER TABLE [dbo].[TICKET]  WITH CHECK ADD FOREIGN KEY([COD_USUARIO_AREA])
REFERENCES [dbo].[USUARIO] ([COD_USUARIO])
GO
ALTER TABLE [dbo].[TICKET]  WITH CHECK ADD FOREIGN KEY([COD_USUARIO_SOLICITANTE])
REFERENCES [dbo].[USUARIO] ([COD_USUARIO])
GO
ALTER TABLE [dbo].[TICKET]  WITH CHECK ADD FOREIGN KEY([COD_USUARIO_SOPORTE])
REFERENCES [dbo].[USUARIO] ([COD_USUARIO])
GO
ALTER TABLE [dbo].[TICKET]  WITH CHECK ADD FOREIGN KEY([COD_USUARIO_SOLICITANTE])
REFERENCES [dbo].[USUARIO] ([COD_USUARIO])
GO
ALTER TABLE [dbo].[TICKET]  WITH CHECK ADD FOREIGN KEY([COD_USUARIO_SOPORTE])
REFERENCES [dbo].[USUARIO] ([COD_USUARIO])
GO
ALTER TABLE [dbo].[TICKET]  WITH CHECK ADD FOREIGN KEY([COD_USUARIO_AREA])
REFERENCES [dbo].[USUARIO] ([COD_USUARIO])
GO
ALTER TABLE [dbo].[TICKET]  WITH CHECK ADD FOREIGN KEY([COD_USUARIO_SOLICITANTE])
REFERENCES [dbo].[USUARIO] ([COD_USUARIO])
GO
ALTER TABLE [dbo].[TICKET]  WITH CHECK ADD FOREIGN KEY([COD_USUARIO_SOPORTE])
REFERENCES [dbo].[USUARIO] ([COD_USUARIO])
GO
ALTER TABLE [dbo].[TICKET]  WITH CHECK ADD FOREIGN KEY([COD_USUARIO_SOLICITANTE])
REFERENCES [dbo].[USUARIO] ([COD_USUARIO])
GO
ALTER TABLE [dbo].[TICKET]  WITH CHECK ADD FOREIGN KEY([COD_USUARIO_SOPORTE])
REFERENCES [dbo].[USUARIO] ([COD_USUARIO])
GO
ALTER TABLE [dbo].[TICKET]  WITH CHECK ADD FOREIGN KEY([COD_USUARIO_AREA])
REFERENCES [dbo].[USUARIO] ([COD_USUARIO])
GO
ALTER TABLE [dbo].[TICKET]  WITH CHECK ADD FOREIGN KEY([COD_USUARIO_SOLICITANTE])
REFERENCES [dbo].[USUARIO] ([COD_USUARIO])
GO
ALTER TABLE [dbo].[TICKET]  WITH CHECK ADD FOREIGN KEY([COD_USUARIO_SOPORTE])
REFERENCES [dbo].[USUARIO] ([COD_USUARIO])
GO
ALTER TABLE [dbo].[TICKET]  WITH CHECK ADD FOREIGN KEY([COD_USUARIO_SOLICITANTE])
REFERENCES [dbo].[USUARIO] ([COD_USUARIO])
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD FOREIGN KEY([COD_ROL])
REFERENCES [dbo].[ROL] ([COD_ROL])
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD FOREIGN KEY([COD_ROL])
REFERENCES [dbo].[ROL] ([COD_ROL])
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD FOREIGN KEY([COD_ROL])
REFERENCES [dbo].[ROL] ([COD_ROL])
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD FOREIGN KEY([COD_ROL])
REFERENCES [dbo].[ROL] ([COD_ROL])
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD FOREIGN KEY([COD_ROL])
REFERENCES [dbo].[ROL] ([COD_ROL])
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD FOREIGN KEY([COD_ROL])
REFERENCES [dbo].[ROL] ([COD_ROL])
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD FOREIGN KEY([COD_USUARIO])
REFERENCES [dbo].[USUARIO] ([COD_USUARIO])
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD FOREIGN KEY([COD_USUARIO])
REFERENCES [dbo].[USUARIO] ([COD_USUARIO])
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD FOREIGN KEY([COD_USUARIO])
REFERENCES [dbo].[USUARIO] ([COD_USUARIO])
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD FOREIGN KEY([COD_USUARIO])
REFERENCES [dbo].[USUARIO] ([COD_USUARIO])
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD FOREIGN KEY([COD_USUARIO])
REFERENCES [dbo].[USUARIO] ([COD_USUARIO])
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD FOREIGN KEY([COD_USUARIO])
REFERENCES [dbo].[USUARIO] ([COD_USUARIO])
GO
/****** Object:  StoredProcedure [dbo].[ACTUALIZAR_CONTRATO]    Script Date: 13-01-2021 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ACTUALIZAR_CONTRATO]
@COD_CONTRATO int,
@NOMBRE_CLIENTE NVARCHAR(80),
@COD_CLIENTE NVARCHAR(80),
@PERSONA_CONTACTO  NVARCHAR(80),
@COD_PERSONA_CONTACTO NVARCHAR(80),
@NOMBRE_CONTRATO NVARCHAR(80),
@NUMERO_CONTRATO NVARCHAR(80),
@FECHA_INICIO_CONTRATO DATE ,
@FECHA_TERMINO_CONTRATO DATE ,
@DESCRIPCION NVARCHAR(200),
@HORAS FLOAT,
@ESTADO nvarchar(3),
@TIPO_CONTRATO nvarchar(80),
@TIPO_PERIODO int
AS
UPDATE CONTRATO SET NOMBRE_CLIENTE = @NOMBRE_CLIENTE ,
COD_CLIENTE = @COD_CLIENTE ,
PERSONA_CONTACTO  = @PERSONA_CONTACTO ,
COD_PERSONA_CONTACTO = @COD_PERSONA_CONTACTO ,
NOMBRE_CONTRATO = @NOMBRE_CONTRATO ,
NUMERO_CONTRATO = @NUMERO_CONTRATO ,
FECHA_INICIO_CONTRATO = @FECHA_INICIO_CONTRATO ,
FECHA_TERMINO_CONTRATO = @FECHA_TERMINO_CONTRATO , 
DESCRIPCION = @DESCRIPCION ,
HORAS = @HORAS,
ESTADO = @ESTADO,
TIPO_CONTRATO =  @TIPO_CONTRATO ,
TIPO_PERIODO = @TIPO_PERIODO
WHERE COD_CONTRATO = @COD_CONTRATO
GO
/****** Object:  StoredProcedure [dbo].[ACTUALIZAR_USUARIO]    Script Date: 13-01-2021 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ACTUALIZAR_USUARIO]
@NOMBRE_CLIENTE NVARCHAR(50) ,
@CORREO NVARCHAR(50) ,
@COD_CONTACTO INT ,
@TELEFONO INT ,
@ESACTIVO INT ,
@CONTRASEÑA NVARCHAR(100) ,
@COD_ROL INT  ,
@COD_USUARIO INT,
@COD_CLIENTE NVARCHAR(50),
@NOMBRE_CONTACTO NVARCHAR(50) 
AS
UPDATE USUARIO SET NOMBRE_CLIENTE = @NOMBRE_CLIENTE  , CORREO = @CORREO ,
COD_CONTACTO = @COD_CONTACTO  , TELEFONO = @TELEFONO , 
ESACTIVO = @ESACTIVO , 
CONTRASEÑA = @CONTRASEÑA ,
COD_ROL = @COD_ROL ,
COD_CLIENTE = @COD_CLIENTE,
NOMBRE_CONTACTO = @NOMBRE_CONTACTO
WHERE COD_USUARIO =  @COD_USUARIO;  
GO
/****** Object:  StoredProcedure [dbo].[AGREGAR_USUARIO]    Script Date: 13-01-2021 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AGREGAR_USUARIO]
@NOMBRE_CLIENTE NVARCHAR(50) ,
@CORREO NVARCHAR(100),
@TELEFONO INT ,
@CONTRASEÑA NVARCHAR(100), 
@COD_ROL INT ,
@COD_CONTACTO NVARCHAR(50),
@NOMBRE_CONTACTO NVARCHAR(50),
@COD_CLIENTE NVARCHAR(50)
AS 
INSERT INTO USUARIO (NOMBRE_CLIENTE,CORREO,COD_CONTACTO,TELEFONO,ESACTIVO,CONTRASEÑA,COD_ROL  , NOMBRE_CONTACTO , COD_CLIENTE  )
VALUES (@NOMBRE_CLIENTE,@CORREO,@COD_CONTACTO,@TELEFONO,1,@CONTRASEÑA,@COD_ROL,@NOMBRE_CONTACTO,@COD_CLIENTE)
GO
/****** Object:  StoredProcedure [dbo].[ASIGNAR_ESCALADO]    Script Date: 13-01-2021 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ASIGNAR_ESCALADO]
@COD_USUARIO INT ,
@COD_TICKET INT 
AS
UPDATE TICKET SET COD_USUARIO_AREA = @COD_USUARIO WHERE COD_TICKET = @COD_TICKET;
GO
/****** Object:  StoredProcedure [dbo].[ASIGNAR_SOPORTE]    Script Date: 13-01-2021 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ASIGNAR_SOPORTE]
@COD_SOPORTE INT,
@COD_TICKET INT 
AS
UPDATE TICKET SET COD_USUARIO_SOPORTE = @COD_SOPORTE WHERE COD_TICKET = @COD_TICKET;
GO
/****** Object:  StoredProcedure [dbo].[CAMBIAR_ESTADO]    Script Date: 13-01-2021 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CAMBIAR_ESTADO]
@COD_TICKET INT,
@ESTADO nvarchar(50) 
AS
UPDATE TICKET SET ESTADO = @ESTADO  WHERE COD_TICKET = @COD_TICKET
GO
/****** Object:  StoredProcedure [dbo].[CLIENTES_TOTAL_TICKET]    Script Date: 13-01-2021 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CLIENTES_TOTAL_TICKET]
AS
SELECT COUNT(TK.COD_TICKET) ,  CL.NOMBRE_CLIENTE FROM USUARIO AS CL
JOIN TICKET TK
ON TK.COD_USUARIO_SOLICITANTE = CL.COD_USUARIO
WHERE CL.COD_ROL = 3 
GROUP BY  CL.NOMBRE_CLIENTE
GO
/****** Object:  StoredProcedure [dbo].[DESCONTAR_HORAS]    Script Date: 13-01-2021 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DESCONTAR_HORAS]
@COD_CONTRATO INT ,
@HORAS INT
AS
UPDATE CONTRATO SET HORAS_RESTANTES =  HORAS_RESTANTES - @HORAS WHERE NUMERO_CONTRATO = @COD_CONTRATO
GO
/****** Object:  StoredProcedure [dbo].[ELIMINAR_CONTRATO]    Script Date: 13-01-2021 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ELIMINAR_CONTRATO]
@COD_CONTRATO INT
AS
DELETE CONTRATO WHERE COD_CONTRATO = @COD_CONTRATO;
GO
/****** Object:  StoredProcedure [dbo].[ENVIAR_MENSAJE]    Script Date: 13-01-2021 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ENVIAR_MENSAJE]
@CODIGO_TICKET INT ,
@CODIGO_USUARIO  INT ,
@FECHA_MENSAJE  DATE ,
@HORA_MENSAJE TIME ,
@MENSAJE NVARCHAR(200),
@ADJUNTO NVARCHAR(200)
AS
INSERT INTO MENSAJE (COD_TICKET,COD_USUARIO,FECHA_MENSAJE,HORA_MENSAJE,COMENTARIO,VISTO,ADJUNTO) 
VALUES (@CODIGO_TICKET,@CODIGO_USUARIO,@FECHA_MENSAJE ,@HORA_MENSAJE,@MENSAJE ,0 , @ADJUNTO );
GO
/****** Object:  StoredProcedure [dbo].[FILTRAR_USUARIO]    Script Date: 13-01-2021 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FILTRAR_USUARIO]
@COD_USUARIO INT
AS
SELECT COD_USUARIO , NOMBRE_CLIENTE , CORREO , COD_CONTACTO , telefono , ESACTIVO , COD_ROL , CONTRASEÑA
FROM USUARIO WHERE COD_USUARIO = @COD_USUARIO;
GO
/****** Object:  StoredProcedure [dbo].[GUARDAR_ADJUNTO_MENSAJE]    Script Date: 13-01-2021 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GUARDAR_ADJUNTO_MENSAJE]
@COD_TICKET INT,
@ADJUNTO NVARCHAR(200) 
AS
BEGIN
UPDATE MENSAJE SET ADJUNTO = @ADJUNTO 
WHERE COD_MENSAJE = (SELECT TOP 1  COD_MENSAJE FROM MENSAJE WHERE COD_TICKET = @COD_TICKET ORDER BY COD_MENSAJE DESC)
END;
GO
/****** Object:  StoredProcedure [dbo].[GUARDAR_CONTRATO]    Script Date: 13-01-2021 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GUARDAR_CONTRATO]
@NOMBRE_CLIENTE NVARCHAR(80),
@COD_CLIENTE NVARCHAR(80),
@PERSONA_CONTACTO  NVARCHAR(80),
@COD_PERSONA_CONTACTO NVARCHAR(80),
@FECHA_DOCUMENTO DATE , 
@NOMBRE_CONTRATO NVARCHAR(80),
@NUMERO_CONTRATO NVARCHAR(80),
@FECHA_INICIO_CONTRATO DATE ,
@FECHA_TERMINO_CONTRATO DATE ,
@DESCRIPCION NVARCHAR(200) ,
@TIPO_PERIODO INT ,
@ESTADO nchar(10) ,
@HORAS FLOAT ,
@TIPO_CONTRATO NVARCHAR(80),
@ADJUNTO NVARCHAR(200)
AS
INSERT INTO CONTRATO 
(NOMBRE_CLIENTE,
COD_CLIENTE,
PERSONA_CONTACTO,
COD_PERSONA_CONTACTO,
FECHA_DOCUMENTO,
NOMBRE_CONTRATO , 
NUMERO_CONTRATO ,
FECHA_INICIO_CONTRATO , 
FECHA_TERMINO_CONTRATO ,
DESCRIPCION , TIPO_PERIODO , ESTADO , HORAS , TIPO_CONTRATO , HORAS_RESTANTES , ADJUNTO ) VALUES

(@NOMBRE_CLIENTE,@COD_CLIENTE,@PERSONA_CONTACTO,@COD_PERSONA_CONTACTO,@FECHA_DOCUMENTO
,@NOMBRE_CONTRATO,@NUMERO_CONTRATO,@FECHA_INICIO_CONTRATO,@FECHA_TERMINO_CONTRATO,
@DESCRIPCION , @TIPO_PERIODO , @ESTADO , @HORAS , @TIPO_CONTRATO , @HORAS , @ADJUNTO );
GO
/****** Object:  StoredProcedure [dbo].[GUARDAR_ESTADO]    Script Date: 13-01-2021 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GUARDAR_ESTADO] 
@ESTADO_DESCRIPCION NVARCHAR(200),
@COD_OPERACION  NVARCHAR(30) ,
@ENVIAR_CORREO INT ,
@ES_ESCALADO INT   ,
@CODIGO_SAP NVARCHAR(30)
AS
INSERT INTO ESTADO (ESTADO_DESCRIPCION,COD_OPERACION,ENVIAR_CORREO,ES_ESCALADO,CODIGO_SAP)
VALUES (@ESTADO_DESCRIPCION,@COD_OPERACION,@ENVIAR_CORREO,@ES_ESCALADO,@CODIGO_SAP);
GO
/****** Object:  StoredProcedure [dbo].[GUARDAR_TICKET]    Script Date: 13-01-2021 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GUARDAR_TICKET]
@COD_USUARIO_SOLICITANTE INT ,
@COD_USUARIO_SOPORTE INT,
@FECHA_SOLICITUD DATE ,
@HORA_SOLICITUD TIME,
@NIVEL_URGENCIA NVARCHAR(50),
@TIPO_PROBLEMA NVARCHAR(50),
@COMENTARIO NVARCHAR(200),
@URL_ADJUNTO NVARCHAR(200),
@DESCRIPCION NVARCHAR(50),
@ID_CONTRATO NVARCHAR(30),	
@TIPO_CONTRATO NVARCHAR(100),
@ESTADO NVARCHAR(30)
AS
INSERT INTO TICKET 
(COD_USUARIO_SOLICITANTE,COD_USUARIO_SOPORTE,FECHA_SOLICITUD,HORA_SOLICITUD,NIVEL_URGENCIA
,TIPO_PROBLEMA,COMENTARIO,URL_ADJUNTO,ESTADO,VISTO,DESCRIPCION,ID_CONTRATO , TIPO_CONTRATO) 
VALUES (@COD_USUARIO_SOLICITANTE,@COD_USUARIO_SOPORTE,@FECHA_SOLICITUD,
@HORA_SOLICITUD,@NIVEL_URGENCIA,@TIPO_PROBLEMA,@COMENTARIO,@URL_ADJUNTO,@ESTADO ,0,@DESCRIPCION,@ID_CONTRATO , @TIPO_CONTRATO);
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_CONTRATO]    Script Date: 13-01-2021 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LISTAR_CONTRATO]
@COD_CLIENTE NVARCHAR(50)
AS
SELECT NUMERO_CONTRATO , TIPO_CONTRATO , FECHA_INICIO_CONTRATO , FECHA_TERMINO_CONTRATO , NUMERO_CONTRATO, TIPO_PERIODO
,HORAS , HORAS_RESTANTES , ADJUNTO FROM CONTRATO WHERE ESTADO = 'A' AND COD_CLIENTE = @COD_CLIENTE;
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_CONTRATOS]    Script Date: 13-01-2021 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LISTAR_CONTRATOS]
AS
SELECT COD_CONTRATO , NOMBRE_CLIENTE , COD_CLIENTE,PERSONA_CONTACTO , COD_PERSONA_CONTACTO ,
FECHA_DOCUMENTO , NOMBRE_CONTRATO , NUMERO_CONTRATO , FECHA_INICIO_CONTRATO , FECHA_TERMINO_CONTRATO , DESCRIPCION , TIPO_PERIODO , ESTADO , HORAS , TIPO_CONTRATO , HORAS_RESTANTES , ADJUNTO FROM CONTRATO;
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_ESTADO]    Script Date: 13-01-2021 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LISTAR_ESTADO]
AS
SELECT * FROM ESTADO
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_ESTADO_ACTUAL]    Script Date: 13-01-2021 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LISTAR_ESTADO_ACTUAL]
AS
SELECT E.COD_ESTADO, E.ESTADO_DESCRIPCION , E.COD_OPERACION ,
CASE 
WHEN E.ES_ESCALADO = 1 THEN (SELECT 'ESCALADO A ' + DESCRIPCION FROM ROL WHERE COD_ROL = E.COD_OPERACION  ) ELSE
(SELECT OPERACION_DESCRIPCION FROM OPERACION WHERE COD_OPERACION = E.COD_OPERACION ) END 'DESCRIPCION',
E.ENVIAR_CORREO , E.ES_ESCALADO , E.CODIGO_SAP FROM ESTADO AS E ORDER BY E.COD_ESTADO ASC
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_HORAS]    Script Date: 13-01-2021 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LISTAR_HORAS]
@NUMERO_CONTRATO INT 
AS
SELECT HORAS , HORAS_RESTANTES FROM CONTRATO WHERE NUMERO_CONTRATO = @NUMERO_CONTRATO  
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_MENSAJES]    Script Date: 13-01-2021 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LISTAR_MENSAJES]
@COD_TICKET INT
AS
SELECT MS.COD_MENSAJE , MS.COD_TICKET , US.NOMBRE_CLIENTE ,
CONVERT(varchar,MS.FECHA_MENSAJE,23) as 'FECHA' , MS.HORA_MENSAJE , MS.COMENTARIO , MS.VISTO , MS.COD_USUARIO , ADJUNTO FROM MENSAJE AS MS
JOIN USUARIO US
ON US.COD_USUARIO = MS.COD_USUARIO
WHERE COD_TICKET = @COD_TICKET ORDER BY COD_MENSAJE ASC;
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_SOLICITUDES]    Script Date: 13-01-2021 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LISTAR_SOLICITUDES]
@COD_USUARIO INT 
AS
SELECT * FROM TICKET WHERE COD_USUARIO_SOLICITANTE = @COD_USUARIO; 
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_SOLUCIONES]    Script Date: 13-01-2021 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LISTAR_SOLUCIONES] 
@COD_TICKET INT
AS
SELECT DESCRIPCION , HORAS , FECHA , HORA_CREACION , ADJUNTO FROM SOLUCION WHERE COD_TICKET = @COD_TICKET
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_SOLUCIONES_AREA]    Script Date: 13-01-2021 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LISTAR_SOLUCIONES_AREA]
@COD_TICKET INT
AS
SELECT DESCRIPCION , HORAS , AREA , FECHA , HORA_CREACION , ADJUNTO
FROM RESOLUCION_SOPORTE_AREA WHERE COD_TICKET = @COD_TICKET
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_SOPORTES]    Script Date: 13-01-2021 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LISTAR_SOPORTES]
AS
SELECT COD_USUARIO , NOMBRE_CLIENTE FROM USUARIO WHERE COD_ROL = 2;

GO
/****** Object:  StoredProcedure [dbo].[LISTAR_USUARIO_ASIGNACION]    Script Date: 13-01-2021 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LISTAR_USUARIO_ASIGNACION] 
@COD_ROL NVARCHAR(10) AS
BEGIN
	SET @COD_ROL = (SELECT COD_OPERACION FROM ESTADO WHERE CODIGO_SAP = @COD_ROL);

SELECT COD_USUARIO , NOMBRE_CLIENTE FROM USUARIO WHERE ESACTIVO = 1 AND COD_ROL = @COD_ROL;
END;

GO
/****** Object:  StoredProcedure [dbo].[LOGIN]    Script Date: 13-01-2021 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LOGIN]
@CORREO NVARCHAR(50) ,
@CONTRASEÑA NVARCHAR(100)
AS 
SELECT COD_USUARIO , COD_ROL , COD_CLIENTE FROM USUARIO WHERE CORREO = @CORREO AND CONTRASEÑA = @CONTRASEÑA AND ESACTIVO = 1;



GO
/****** Object:  StoredProcedure [dbo].[MENSAJES_POR_VER]    Script Date: 13-01-2021 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MENSAJES_POR_VER]
@COD_USUARIO INT
AS
SELECT COUNT(*) AS 'TOTAL MENSAJES SIN VER' , TK.COD_TICKET FROM TICKET AS TK JOIN MENSAJE AS MJ
ON MJ.COD_TICKET = TK.COD_TICKET WHERE TK.COD_USUARIO_SOPORTE = @COD_USUARIO 
AND MJ.VISTO = 0 and MJ.COD_USUARIO <> @COD_USUARIO  GROUP BY TK.COD_TICKET ;
GO
/****** Object:  StoredProcedure [dbo].[MENSAJES_POR_VER_AREA]    Script Date: 13-01-2021 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[MENSAJES_POR_VER_AREA]
@COD_USUARIO INT
AS
SELECT COUNT(*) AS 'TOTAL MENSAJES SIN VER' , TK.COD_TICKET FROM TICKET AS TK JOIN MENSAJE AS MJ
ON MJ.COD_TICKET = TK.COD_TICKET WHERE TK.COD_USUARIO_AREA = @COD_USUARIO 
AND MJ.VISTO = 0 and MJ.COD_USUARIO <> @COD_USUARIO  GROUP BY TK.COD_TICKET ;
GO
/****** Object:  StoredProcedure [dbo].[MENSAJES_POR_VER_CLIENTE]    Script Date: 13-01-2021 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MENSAJES_POR_VER_CLIENTE]
@COD_USUARIO INT
AS
SELECT COUNT(*) AS 'TOTAL' ,   TK.COD_TICKET
FROM TICKET AS TK 
JOIN MENSAJE AS MJ 
ON MJ.COD_TICKET = TK.COD_TICKET WHERE TK.COD_USUARIO_SOLICITANTE = @COD_USUARIO
AND MJ.COD_USUARIO <> @COD_USUARIO AND MJ.VISTO = 0
GROUP BY TK.COD_TICKET;
GO
/****** Object:  StoredProcedure [dbo].[MENSAJES_SIN_VER_CLIENTE]    Script Date: 13-01-2021 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[MENSAJES_SIN_VER_CLIENTE]
@COD_USUARIO INT
AS
SELECT COUNT(*) AS 'TOTAL'
FROM TICKET AS TK 
JOIN MENSAJE AS MJ 
ON MJ.COD_TICKET = TK.COD_TICKET WHERE TK.COD_USUARIO_SOLICITANTE = @COD_USUARIO 
AND MJ.COD_USUARIO <> @COD_USUARIO AND MJ.VISTO = 0;
GO
/****** Object:  StoredProcedure [dbo].[MENSAJES_SIN_VER_SOPORTE]    Script Date: 13-01-2021 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MENSAJES_SIN_VER_SOPORTE]
@COD_USUARIO INT
AS
SELECT COUNT(*) AS 'TOTAL MENSAJES SIN VER' FROM TICKET AS TK JOIN MENSAJE AS MJ
ON MJ.COD_TICKET = TK.COD_TICKET WHERE TK.COD_USUARIO_SOPORTE = @COD_USUARIO 
AND MJ.VISTO = 0 and MJ.COD_USUARIO <> @COD_USUARIO AND COD_USUARIO <> 23 ;
GO
/****** Object:  StoredProcedure [dbo].[MIS_TICKET]    Script Date: 13-01-2021 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MIS_TICKET]
@COD_USUARIO INT,
@FILTRO NVARCHAR(50),
@ORDER VARCHAR(50)
AS
BEGIN
	IF(@ORDER = 'Ticket Creado' OR @ORDER = 'Ticket Cerrado' OR @ORDER = 'Envío resolución Cliente' OR @ORDER = 'Proceso de verificación' OR @ORDER = 'Revisión Cliente' OR @ORDER = 'Revisión de incidencia' OR @ORDER = 'Análisis en ejecución')
		SELECT 
		COD_TICKET,US.NOMBRE_CLIENTE AS 'ENCARGADO SOPORTE' , US.CORREO ,
		CONVERT(varchar,FECHA_SOLICITUD,23),HORA_SOLICITUD,NIVEL_URGENCIA,
		TIPO_PROBLEMA , COMENTARIO , URL_ADJUNTO , ESTADO , DESCRIPCION , ID_CONTRATO , TIPO_CONTRATO , RESOLUCION
		FROM TICKET AS TK
		JOIN USUARIO US 
		ON TK.COD_USUARIO_SOPORTE = US.COD_USUARIO
		WHERE COD_USUARIO_SOLICITANTE = @COD_USUARIO AND ESTADO = @FILTRO;
	IF(@ORDER = 'Alto' OR @ORDER = 'Medio' OR @ORDER = 'Bajo')
		SELECT 
		COD_TICKET,US.NOMBRE_CLIENTE AS 'ENCARGADO SOPORTE' , US.CORREO ,
		CONVERT(varchar,FECHA_SOLICITUD,23),HORA_SOLICITUD,NIVEL_URGENCIA,
		TIPO_PROBLEMA , COMENTARIO , URL_ADJUNTO , ESTADO , DESCRIPCION , ID_CONTRATO , TIPO_CONTRATO , RESOLUCION
		FROM TICKET AS TK
		JOIN USUARIO US 
		ON TK.COD_USUARIO_SOPORTE = US.COD_USUARIO
		WHERE COD_USUARIO_SOLICITANTE = @COD_USUARIO AND NIVEL_URGENCIA = @ORDER;
	ELSE
		IF(@FILTRO = '1')
			SELECT 
			COD_TICKET,US.NOMBRE_CLIENTE AS 'ENCARGADO SOPORTE' , US.CORREO ,
			CONVERT(varchar,FECHA_SOLICITUD,23),HORA_SOLICITUD,NIVEL_URGENCIA,
			TIPO_PROBLEMA , COMENTARIO , URL_ADJUNTO , ESTADO , DESCRIPCION , ID_CONTRATO , TIPO_CONTRATO , RESOLUCION , ADJUNTO
			FROM TICKET AS TK
			JOIN USUARIO US 
			ON TK.COD_USUARIO_SOPORTE = US.COD_USUARIO
			WHERE COD_USUARIO_SOLICITANTE = @COD_USUARIO 
			ORDER BY COD_TICKET DESC ;
		ELSE
			SELECT 
				COD_TICKET,US.NOMBRE_CLIENTE AS 'ENCARGADO SOPORTE' , US.CORREO ,
				CONVERT(varchar,FECHA_SOLICITUD,23),HORA_SOLICITUD,NIVEL_URGENCIA,
				TIPO_PROBLEMA , COMENTARIO , URL_ADJUNTO , ESTADO , DESCRIPCION , ID_CONTRATO , TIPO_CONTRATO , RESOLUCION , ADJUNTO
				FROM TICKET AS TK
				JOIN USUARIO US 
				ON TK.COD_USUARIO_SOPORTE = US.COD_USUARIO
				WHERE COD_USUARIO_SOLICITANTE = @COD_USUARIO 
				ORDER BY COD_TICKET ASC;
END;
GO
/****** Object:  StoredProcedure [dbo].[MIS_TICKET_SOPORTE]    Script Date: 13-01-2021 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MIS_TICKET_SOPORTE]
@COD_USUARIO INT,
@FILTRO NVARCHAR(50),
@ORDER VARCHAR(50)
AS
BEGIN
	IF(@ORDER = 'Ticket Creado' OR @ORDER = 'Ticket Cerrado' OR @ORDER = 'Envío resolución Cliente' OR @ORDER = 'Proceso de verificación' OR @ORDER = 'Revisión Cliente' OR @ORDER = 'Revisión de incidencia' OR @ORDER = 'Análisis en ejecución')
		SELECT 
		COD_TICKET,US.NOMBRE_CLIENTE AS 'ENCARGADO SOPORTE' , US.CORREO ,
		CONVERT(varchar,FECHA_SOLICITUD,23),HORA_SOLICITUD,NIVEL_URGENCIA,
		TIPO_PROBLEMA , COMENTARIO , URL_ADJUNTO , ESTADO , DESCRIPCION , ID_CONTRATO , TIPO_CONTRATO , RESOLUCION
		FROM TICKET AS TK
		JOIN USUARIO US 
		ON TK.COD_USUARIO_SOLICITANTE = US.COD_USUARIO
		WHERE COD_USUARIO_SOPORTE = @COD_USUARIO AND ESTADO = @FILTRO;
	IF(@ORDER = 'Alto' OR @ORDER = 'Medio' OR @ORDER = 'Bajo')
		SELECT 
		COD_TICKET,US.NOMBRE_CLIENTE AS 'ENCARGADO SOPORTE' , US.CORREO ,
		CONVERT(varchar,FECHA_SOLICITUD,23),HORA_SOLICITUD,NIVEL_URGENCIA,
		TIPO_PROBLEMA , COMENTARIO , URL_ADJUNTO , ESTADO , DESCRIPCION , ID_CONTRATO , TIPO_CONTRATO , RESOLUCION
		FROM TICKET AS TK
		JOIN USUARIO US 
		ON TK.COD_USUARIO_SOLICITANTE = US.COD_USUARIO
		WHERE COD_USUARIO_SOPORTE = @COD_USUARIO AND NIVEL_URGENCIA = @ORDER;
	ELSE
		IF(@FILTRO = '1')
			SELECT 
			COD_TICKET,US.NOMBRE_CLIENTE AS 'ENCARGADO SOPORTE' , US.CORREO ,
			CONVERT(varchar,FECHA_SOLICITUD,23),HORA_SOLICITUD,NIVEL_URGENCIA,
			TIPO_PROBLEMA , COMENTARIO , URL_ADJUNTO , ESTADO , DESCRIPCION , ID_CONTRATO , TIPO_CONTRATO , RESOLUCION , ADJUNTO
			FROM TICKET AS TK
			JOIN USUARIO US 
			ON TK.COD_USUARIO_SOLICITANTE = US.COD_USUARIO
			WHERE COD_USUARIO_SOPORTE = @COD_USUARIO 
			ORDER BY COD_TICKET DESC ;
		ELSE
			SELECT 
				COD_TICKET,US.NOMBRE_CLIENTE AS 'ENCARGADO SOPORTE' , US.CORREO ,
				CONVERT(varchar,FECHA_SOLICITUD,23),HORA_SOLICITUD,NIVEL_URGENCIA,
				TIPO_PROBLEMA , COMENTARIO , URL_ADJUNTO , ESTADO , DESCRIPCION , ID_CONTRATO , TIPO_CONTRATO , RESOLUCION , ADJUNTO
				FROM TICKET AS TK
				JOIN USUARIO US 
				ON TK.COD_USUARIO_SOLICITANTE = US.COD_USUARIO
				WHERE COD_USUARIO_SOPORTE = @COD_USUARIO 
				ORDER BY COD_TICKET ASC;
END;
GO
/****** Object:  StoredProcedure [dbo].[MIS_TICKET_SOPORTE_AREA]    Script Date: 13-01-2021 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MIS_TICKET_SOPORTE_AREA]
@COD_USUARIO INT,
@FILTRO NVARCHAR(50),
@ORDER VARCHAR(50)
AS
BEGIN
	IF(@ORDER = 'Ticket Creado' OR @ORDER = 'Ticket Cerrado' OR @ORDER = 'Envío resolución Cliente' OR @ORDER = 'Proceso de verificación' OR @ORDER = 'Revisión Cliente' OR @ORDER = 'Revisión de incidencia' OR @ORDER = 'Análisis en ejecución')
		SELECT 
		COD_TICKET,US.NOMBRE_CLIENTE AS 'ENCARGADO SOPORTE' , US.CORREO ,
		CONVERT(varchar,FECHA_SOLICITUD,23),HORA_SOLICITUD,NIVEL_URGENCIA,
		TIPO_PROBLEMA , COMENTARIO , URL_ADJUNTO , ESTADO , DESCRIPCION , ID_CONTRATO , TIPO_CONTRATO , RESOLUCION
		FROM TICKET AS TK
		JOIN USUARIO US 
		ON TK.COD_USUARIO_SOLICITANTE = US.COD_USUARIO
		WHERE COD_USUARIO_AREA = @COD_USUARIO AND ESTADO = @FILTRO;
	IF(@ORDER = 'Alto' OR @ORDER = 'Medio' OR @ORDER = 'Bajo')
		SELECT 
		COD_TICKET,US.NOMBRE_CLIENTE AS 'ENCARGADO SOPORTE' , US.CORREO ,
		CONVERT(varchar,FECHA_SOLICITUD,23),HORA_SOLICITUD,NIVEL_URGENCIA,
		TIPO_PROBLEMA , COMENTARIO , URL_ADJUNTO , ESTADO , DESCRIPCION , ID_CONTRATO , TIPO_CONTRATO , RESOLUCION
		FROM TICKET AS TK
		JOIN USUARIO US 
		ON TK.COD_USUARIO_SOLICITANTE = US.COD_USUARIO
		WHERE COD_USUARIO_AREA = @COD_USUARIO AND NIVEL_URGENCIA = @ORDER;
	ELSE
		IF(@FILTRO = '1')
			SELECT 
			COD_TICKET,US.NOMBRE_CLIENTE AS 'ENCARGADO SOPORTE' , US.CORREO ,
			CONVERT(varchar,FECHA_SOLICITUD,23),HORA_SOLICITUD,NIVEL_URGENCIA,
			TIPO_PROBLEMA , COMENTARIO , URL_ADJUNTO , ESTADO , DESCRIPCION , ID_CONTRATO , TIPO_CONTRATO , RESOLUCION , ADJUNTO
			FROM TICKET AS TK
			JOIN USUARIO US 
			ON TK.COD_USUARIO_SOLICITANTE = US.COD_USUARIO
			WHERE COD_USUARIO_AREA = @COD_USUARIO 
			ORDER BY COD_TICKET DESC ;
		ELSE
			SELECT 
				COD_TICKET,US.NOMBRE_CLIENTE AS 'ENCARGADO SOPORTE' , US.CORREO ,
				CONVERT(varchar,FECHA_SOLICITUD,23),HORA_SOLICITUD,NIVEL_URGENCIA,
				TIPO_PROBLEMA , COMENTARIO , URL_ADJUNTO , ESTADO , DESCRIPCION , ID_CONTRATO , TIPO_CONTRATO , RESOLUCION , ADJUNTO
				FROM TICKET AS TK
				JOIN USUARIO US 
				ON TK.COD_USUARIO_SOLICITANTE = US.COD_USUARIO
				WHERE COD_USUARIO_AREA = @COD_USUARIO 
				ORDER BY COD_TICKET ASC;
END;
GO
/****** Object:  StoredProcedure [dbo].[NOTIFICACION_DESCRIPCION]    Script Date: 13-01-2021 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[NOTIFICACION_DESCRIPCION]
@COD_USUARIO INT AS 
SELECT COUNT(*) , COD_TICKET FROM TICKET WHERE ESTADO = '2' AND VISTO = 0 
AND COD_USUARIO_SOLICITANTE = @COD_USUARIO GROUP BY COD_TICKET;
GO
/****** Object:  StoredProcedure [dbo].[NOTIFICACION_MENSAJES]    Script Date: 13-01-2021 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[NOTIFICACION_MENSAJES]
@COD_USUARIO INT
AS
SELECT COUNT(*) FROM MENSAJE WHERE COD_USUARIO <> @COD_USUARIO AND COD_TICKET IN 
(SELECT COD_TICKET FROM TICKET WHERE COD_USUARIO_SOLICITANTE = @COD_USUARIO  ) AND VISTO = 0 ;
GO
/****** Object:  StoredProcedure [dbo].[NOTIFICACION_MENSAJES_AREAS]    Script Date: 13-01-2021 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[NOTIFICACION_MENSAJES_AREAS]
@COD_USUARIO INT,
@ESTADO NVARCHAR(20)
AS
SELECT COUNT(*) FROM MENSAJE WHERE COD_USUARIO <> @COD_USUARIO AND COD_TICKET IN 
(SELECT COD_TICKET FROM TICKET WHERE COD_USUARIO_AREA = @COD_USUARIO AND ESTADO = @ESTADO  ) AND VISTO = 0 ;
GO
/****** Object:  StoredProcedure [dbo].[NOTIFICACIONES_AREAS]    Script Date: 13-01-2021 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[NOTIFICACIONES_AREAS]
@COD_USUARIO  INT , @ESTADO NVARCHAR(20) AS 
SELECT COUNT(*) FROM TICKET WHERE ESTADO = @ESTADO  AND COD_USUARIO_AREA = @COD_USUARIO ;
GO
/****** Object:  StoredProcedure [dbo].[NOTIFICACIONES_CLIENTE]    Script Date: 13-01-2021 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[NOTIFICACIONES_CLIENTE]
@COD_USUARIO  INT AS 
SELECT COUNT(*) FROM TICKET WHERE ESTADO = '2' AND VISTO = 0 AND COD_USUARIO_SOLICITANTE = @COD_USUARIO ;

GO
/****** Object:  StoredProcedure [dbo].[RESOLUCION]    Script Date: 13-01-2021 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RESOLUCION]
@COD_TICKET INT ,
@RESOLUCION NVARCHAR(200),
@HORAS FLOAT, 
@FECHA NVARCHAR(200),
@HORA_CREACION NVARCHAR(200),
@ADJUNTO NVARCHAR(200)
AS INSERT INTO SOLUCION (COD_TICKET , DESCRIPCION , HORAS ,FECHA , HORA_CREACION , ADJUNTO ) VALUES
(@COD_TICKET,@RESOLUCION,@HORAS, @FECHA , @HORA_CREACION , @ADJUNTO );
GO
/****** Object:  StoredProcedure [dbo].[RESOLUCION_AREA]    Script Date: 13-01-2021 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RESOLUCION_AREA]
@COD_TICKET INT ,
@RESOLUCION NVARCHAR(200),
@HORAS FLOAT,
@AREA NVARCHAR(50),
@FECHA  NVARCHAR(50),
@HORA_CREACION  NVARCHAR(50),
@ADJUNTO NVARCHAR(250)
AS INSERT INTO RESOLUCION_SOPORTE_AREA (COD_TICKET , DESCRIPCION , HORAS ,AREA , FECHA , HORA_CREACION , ADJUNTO )
VALUES (@COD_TICKET,@RESOLUCION,@HORAS,@AREA , @FECHA , @HORA_CREACION, @ADJUNTO );
GO
/****** Object:  StoredProcedure [dbo].[SOLICITUDES_PENDIENTES_SOPORTE]    Script Date: 13-01-2021 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SOLICITUDES_PENDIENTES_SOPORTE]
@COD_USUARIO INT,
@COD_ESTADO INT
AS
SELECT COUNT(*) AS 'SOLICITUDES PENDIENTES' FROM TICKET WHERE ESTADO = @COD_ESTADO AND COD_USUARIO_SOPORTE = @COD_USUARIO  ; 
GO
/****** Object:  StoredProcedure [dbo].[TELEFONO_USUARIO]    Script Date: 13-01-2021 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TELEFONO_USUARIO]
@COD_TICKET INT
AS
SELECT US.TELEFONO FROM USUARIO AS US JOIN TICKET AS TK ON TK.COD_USUARIO_SOLICITANTE = US.COD_USUARIO WHERE TK.COD_TICKET = @COD_TICKET
GO
/****** Object:  StoredProcedure [dbo].[TOP_3_TIPO_CONTRATO]    Script Date: 13-01-2021 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TOP_3_TIPO_CONTRATO]
@COD_USUARIO INT
AS
SELECT COUNT(COD_TICKET) AS 'TOTAL' , TIPO_CONTRATO FROM TICKET WHERE COD_USUARIO_SOLICITANTE = @COD_USUARIO  GROUP BY TIPO_CONTRATO;
GO
/****** Object:  StoredProcedure [dbo].[TOP_3_TIPO_PROBLEMA]    Script Date: 13-01-2021 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TOP_3_TIPO_PROBLEMA]
@COD_USUARIO INT
AS
SELECT  COUNT(TIPO_PROBLEMA) AS 'TOTAL' , TIPO_PROBLEMA FROM TICKET WHERE COD_USUARIO_SOLICITANTE = @COD_USUARIO GROUP BY TIPO_PROBLEMA;
GO
/****** Object:  StoredProcedure [dbo].[USUARIOS]    Script Date: 13-01-2021 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USUARIOS]
AS
SELECT COD_USUARIO , NOMBRE_CLIENTE , CORREO , COD_CONTACTO , telefono , ESACTIVO , COD_ROL , CONTRASEÑA , NOMBRE_CONTACTO, COD_CLIENTE , COD_CONTACTO
FROM USUARIO;
GO
/****** Object:  StoredProcedure [dbo].[VERIFICAR_CONTRATO]    Script Date: 13-01-2021 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[VERIFICAR_CONTRATO] 
@COD_CLIENTE NVARCHAR(50)
AS
SELECT COUNT(*) as 'TOTAL' FROM CONTRATO WHERE COD_CLIENTE = @COD_CLIENTE and ESTADO = 'A';
GO
/****** Object:  StoredProcedure [dbo].[VISTO_CLIENTE]    Script Date: 13-01-2021 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[VISTO_CLIENTE]
@COD_USUARIO INT ,
@COD_TICKET INT
AS
UPDATE MENSAJE SET VISTO = 1 WHERE COD_USUARIO <> @COD_USUARIO AND COD_TICKET = @COD_TICKET;
GO
/****** Object:  StoredProcedure [dbo].[VISTO_CLIENTE_TODOS]    Script Date: 13-01-2021 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[VISTO_CLIENTE_TODOS]
@COD_USUARIO INT 
AS
UPDATE TICKET SET VISTO = 1 WHERE COD_USUARIO_SOLICITANTE = @COD_USUARIO AND ESTADO = '2' ;
GO
/****** Object:  StoredProcedure [dbo].[VISTO_SOPORTE]    Script Date: 13-01-2021 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[VISTO_SOPORTE]
@COD_USUARIO INT ,
@COD_TICKET INT
AS
UPDATE MENSAJE SET VISTO = 1 WHERE COD_USUARIO <> @COD_USUARIO AND COD_TICKET = @COD_TICKET AND COD_USUARIO <> 23 ;
GO
