{% extends 'core/BaseAdministrador.html' %}
{% load static %}
{% block content %}



<div class="col-xl-12 col-lg-12">


    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">LISTA DE CONTRATOS</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table style="font-size:12px;" class="table table-bordered text-center" id="ListarContratos"
                    width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th style="width: 10px;" >Número</th>
                            <th>Nombre</th>
                            <th>Cliente</th>
                            <th>Contacto</th>
                            <th>Inicio</th>
                            <th>Fin</th>
                            <th>Horas</th>
                            <th>Estado</th>
                            <th>Modificar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>




                </table>
            </div>
        </div>
    </div>

</div>



<script src="{% static 'core/api/Administrador/modificarcontratos.js' %}"></script>

{% endblock %}
