USE [B1S]
GO
/****** Object:  User [vicho]    Script Date: 24/09/2020 18:07:47 ******/
CREATE USER [vicho] FOR LOGIN [vicho] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 24/09/2020 18:07:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[COD_USUARIO] [int] IDENTITY(1,1) NOT NULL,
	[USU_RUT] [nvarchar](9) NOT NULL,
	[USU_CORREO] [nvarchar](50) NOT NULL,
	[USU_NOMBRE] [nvarchar](500) NOT NULL,
	[USU_APELLIDO] [nvarchar](50) NOT NULL,
	[USU_TELEFONO] [int] NOT NULL,
	[USU_DIRECCION] [nvarchar](100) NOT NULL,
	[USU_CONTRASENIA] [nvarchar](100) NOT NULL,
	[USU_ESACTIVO] [int] NOT NULL,
	[COD_EMPRESA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[usuarios]    Script Date: 24/09/2020 18:07:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[usuarios] ()
RETURNS TABLE
AS
RETURN
    SELECT 
        COD_USUARIO
    FROM
        USUARIO
 
GO
/****** Object:  Table [dbo].[ADJUNTO]    Script Date: 24/09/2020 18:07:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADJUNTO](
	[COD_ADJUNTO] [int] IDENTITY(1,1) NOT NULL,
	[ADJ_RUTA] [nvarchar](300) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_ADJUNTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ARTICULO]    Script Date: 24/09/2020 18:07:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ARTICULO](
	[COD_ARTICULO] [nvarchar](50) NOT NULL,
	[COD_SOCIEDAD] [nvarchar](50) NOT NULL,
	[COD_CUENTA] [nvarchar](50) NOT NULL,
	[ART_NOMBRE] [nvarchar](100) NOT NULL,
	[ART_ESTADO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_ARTICULO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ASIGNACION_LICENCIA]    Script Date: 24/09/2020 18:07:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASIGNACION_LICENCIA](
	[COD_ASIGNACION_LICENCIA] [int] IDENTITY(1,1) NOT NULL,
	[COD_LICENCIA] [int] NOT NULL,
	[COD_USUARIO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_ASIGNACION_LICENCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ASIGNACION_MODULO]    Script Date: 24/09/2020 18:07:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASIGNACION_MODULO](
	[COD_ASIGNACION_MODULO] [int] IDENTITY(1,1) NOT NULL,
	[COD_MODULO] [int] NOT NULL,
	[COD_SOCIEDAD] [nvarchar](50) NOT NULL,
	[COD_USUARIO] [int] NULL,
 CONSTRAINT [PK_ASIGNACION_MODULO] PRIMARY KEY CLUSTERED 
(
	[COD_ASIGNACION_MODULO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ASIGNACION_SOCIEDAD]    Script Date: 24/09/2020 18:07:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASIGNACION_SOCIEDAD](
	[COD_ASIGNACION_SOCIEDAD] [int] IDENTITY(1,1) NOT NULL,
	[COD_SOCIEDAD] [nvarchar](50) NOT NULL,
	[COD_USUARIO] [int] NOT NULL,
	[COD_PERFIL] [int] NULL,
	[CODIGO_USUARIO_SAP] [nvarchar](50) NULL,
	[COD_JEFE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_ASIGNACION_SOCIEDAD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CENTRO_dE_COSTO]    Script Date: 24/09/2020 18:07:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CENTRO_dE_COSTO](
	[COD_CENTRO_DE_COSTO] [nvarchar](50) NOT NULL,
	[COD_SOCIEDAD] [nvarchar](50) NOT NULL,
	[CDC_NOMBRE] [nvarchar](50) NOT NULL,
	[CDC_ESTADO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_CENTRO_DE_COSTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONFIGURACION]    Script Date: 24/09/2020 18:07:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONFIGURACION](
	[COD_CONFIGURACION] [int] IDENTITY(1,1) NOT NULL,
	[COD_GRUPO_CONFIGURACION_SOCIEDAD] [int] NOT NULL,
	[CONF_CONCEPTO] [nvarchar](50) NOT NULL,
	[CONF_NOMBRE] [nvarchar](50) NOT NULL,
	[CONF_VALOR] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_CONFIGURACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DECISION_APROBACION]    Script Date: 24/09/2020 18:07:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DECISION_APROBACION](
	[COD_DECISION_APROBACION] [int] IDENTITY(1,1) NOT NULL,
	[DISA_RESULTADO] [nvarchar](2) NOT NULL,
	[DISA_COD_DOCUMENTO] [int] NOT NULL,
	[DISA_LINEA] [int] NOT NULL,
	[DISA_TIPO_DOCUMENTO] [nvarchar](2) NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_DECISION_APROBACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOC_VENTA]    Script Date: 24/09/2020 18:07:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOC_VENTA](
	[COD_DOC_VENTA] [int] IDENTITY(1,1) NOT NULL,
	[DOCV_TIPO] [char](2) NOT NULL,
	[COD_SOCIEDAD] [nvarchar](50) NOT NULL,
	[COD_USUARIO] [int] NOT NULL,
	[DOCV_ESTADO] [int] NOT NULL,
	[DOCV_FECHA_CREACION] [date] NULL,
	[DOCV_FECHA_ENTREGA] [date] NULL,
	[DOCV_FECHA_CANCELACION] [date] NULL,
	[DOCV_APROBACION_JEFE] [int] NOT NULL,
	[DOCV_COMENTARIO] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_DOC_VENTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOC_VENTA_DETALLE]    Script Date: 24/09/2020 18:07:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOC_VENTA_DETALLE](
	[COD_DOC_VENTA_DETALLE] [int] IDENTITY(1,1) NOT NULL,
	[COD_DOC_VENTA] [int] NOT NULL,
	[DVD_LINEA] [int] NOT NULL,
	[DVD_COMENTARIO] [nvarchar](500) NOT NULL,
	[DVD_CANTIDAD] [int] NOT NULL,
	[DVD_MONTO] [int] NOT NULL,
	[COD_ARTICULO] [nvarchar](50) NULL,
	[COD_PLAN_DE_CUENTA] [nvarchar](50) NULL,
	[COD_CENTRO_DE_COSTO] [nvarchar](50) NOT NULL,
	[COD_PROYECTO] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_DOC_VENTA_DETALLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPRESA]    Script Date: 24/09/2020 18:07:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPRESA](
	[COD_EMPRESA] [int] IDENTITY(1,1) NOT NULL,
	[EMP_NOMBRE] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_EMPRESA] PRIMARY KEY CLUSTERED 
(
	[COD_EMPRESA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ETAPA]    Script Date: 24/09/2020 18:07:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ETAPA](
	[COD_ETAPA] [int] IDENTITY(1,1) NOT NULL,
	[COD_USUARIO] [int] NOT NULL,
	[ETA_NUMERO] [int] NULL,
	[ETA_NOMBRE] [nvarchar](100) NULL,
	[ETA_ISVALIDO] [int] NOT NULL,
	[COD_PROCESO_APROBACION] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_ETAPA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FONDO_POR_RENDIR]    Script Date: 24/09/2020 18:07:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FONDO_POR_RENDIR](
	[COD_FONDO_POR_RENDIR] [int] IDENTITY(1,1) NOT NULL,
	[COD_SOCIEDAD] [nvarchar](50) NOT NULL,
	[COD_USUARIO] [int] NOT NULL,
	[FXR_ESTADO] [int] NOT NULL,
	[FXR_FECHA_CREACION] [date] NOT NULL,
	[FXR_APROBACION_JEFE] [int] NOT NULL,
	[FXR_COMENTARIOS] [nvarchar](100) NOT NULL,
	[FXR_FECHA_NECESARIO] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_FONDO_POR_RENDIR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FONDO_POR_RENDIR_DETALLE]    Script Date: 24/09/2020 18:07:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FONDO_POR_RENDIR_DETALLE](
	[COD_FONDO_POR_RENDIR_DETALLE] [int] IDENTITY(1,1) NOT NULL,
	[COD_FONDO_POR_RENDIR] [int] NOT NULL,
	[FXRD_LINEA] [int] NULL,
	[FXRD_COMENTARIO] [nvarchar](500) NULL,
	[FXRD_TIPO_DOC] [nvarchar](30) NULL,
	[FXRD_MONTO] [int] NULL,
	[COD_ARTICULO] [nvarchar](50) NULL,
	[COD_PLAN_DE_CUENTA] [nvarchar](50) NULL,
	[COD_CENTRO_DE_COSTO] [nvarchar](50) NOT NULL,
	[COD_PROYECTO] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_FONDO_POR_RENDIR_DETALLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GRUPO_CONFIGURACION_SOCIEDAD]    Script Date: 24/09/2020 18:07:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRUPO_CONFIGURACION_SOCIEDAD](
	[COD_GRUPO_CONFIGURACION_SOCIEDAD] [int] IDENTITY(1,1) NOT NULL,
	[COD_SOCIEDAD] [nvarchar](50) NOT NULL,
	[GRS_NOMBRE] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_GRUPO_CONFIGURACION_SOCIEDAD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICENCIA]    Script Date: 24/09/2020 18:07:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICENCIA](
	[COD_LICENCIA] [int] IDENTITY(1,1) NOT NULL,
	[LIC_DESCRIPCION] [nvarchar](40) NOT NULL,
	[LIC_ANIO_CADUCACION] [date] NULL,
	[LIC_TOTAL] [int] NULL,
	[COD_EMPRESA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_LICENCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOG_DOC_VENTA]    Script Date: 24/09/2020 18:07:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOG_DOC_VENTA](
	[COD_LOG_DOC_VENTA] [int] IDENTITY(1,1) NOT NULL,
	[COD_DOC_VENTA] [int] NULL,
	[DOCV_TIPO] [char](2) NOT NULL,
	[COD_SOCIEDAD] [nvarchar](50) NOT NULL,
	[COD_USUARIO] [int] NOT NULL,
	[DOCV_ESTADO] [int] NOT NULL,
	[DOCV_FECHA_CREACION] [date] NULL,
	[DOCV_FECHA_ENTREGA] [date] NULL,
	[DOCV_FECHA_CANCELACION] [date] NULL,
	[DOCV_APROBACION_JEFE] [int] NOT NULL,
	[DOCV_COMENTARIO] [nvarchar](500) NULL,
	[LDV_ACCION] [nvarchar](20) NULL,
	[LDV_FECHA_ACCION] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_LOG_DOC_VENTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOG_DOC_VENTA_DETALLE]    Script Date: 24/09/2020 18:07:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOG_DOC_VENTA_DETALLE](
	[COD_LOG_DOC_VENTA_DETALLE] [int] IDENTITY(1,1) NOT NULL,
	[COD_VENTA_DETALLE] [int] NULL,
	[COD_PLAN_DE_CUENTA] [int] NOT NULL,
	[COD_PROYECTO] [int] NOT NULL,
	[COD_LOG_DOC_VENTA] [int] NOT NULL,
	[COD_CENTRO_DE_COSTO] [int] NOT NULL,
	[DVD_LINEA] [int] NOT NULL,
	[DVD_COMENTARIO] [nvarchar](500) NOT NULL,
	[DVD_CANTIDADAD] [int] NOT NULL,
	[DVD_MONTO] [int] NOT NULL,
	[LDVD_ACCION] [nvarchar](20) NULL,
	[LDVD_FECHA_ACCION] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_LOG_DOC_VENTA_DETALLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOG_FONDO_POR_RENDIR]    Script Date: 24/09/2020 18:07:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOG_FONDO_POR_RENDIR](
	[COD_LOG_FONDO_POR_RENDIR] [int] IDENTITY(1,1) NOT NULL,
	[COD_FONDO_POR_RENDIR] [int] NOT NULL,
	[LFXR_ACCION] [nvarchar](20) NOT NULL,
	[LFXR_FECHA_ACCION] [date] NOT NULL,
	[COD_SOCIEDAD] [nvarchar](50) NOT NULL,
	[FXR_COMENTARIO] [nvarchar](500) NOT NULL,
	[FXR_APROBACION] [int] NOT NULL,
	[FXR_FECHA_CREACION] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_LOG_FONDO_POR_RENDIR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOG_FONDO_POR_RENDIR_DETALLE]    Script Date: 24/09/2020 18:07:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOG_FONDO_POR_RENDIR_DETALLE](
	[COD_LOG_FONDO_POR_RENDIR_DETALLE] [int] IDENTITY(1,1) NOT NULL,
	[COD_FONDO_POR_RENDIR_DETALLE] [int] NOT NULL,
	[COD_LOG_FONDO_POR_RENDIR] [int] NOT NULL,
	[COD_PROYECTO] [int] NOT NULL,
	[COD_ARTICULO] [int] NOT NULL,
	[COD_CENTRO_DE_COSTO] [int] NOT NULL,
	[FXRD_LINEA] [int] NULL,
	[FXRD_COMENTARIO] [nvarchar](500) NULL,
	[FXRD_TIPO_DOC] [nvarchar](30) NULL,
	[FXRD_MONTO] [int] NULL,
	[LFRD_ACCION] [nvarchar](20) NOT NULL,
	[LFRD_FECHA_ACCION] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_LOG_FONDO_POR_RENDIR_DETALLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOG_RENDICION]    Script Date: 24/09/2020 18:07:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOG_RENDICION](
	[COD_LOG_RENDICION] [int] IDENTITY(1,1) NOT NULL,
	[COD_RENDICION] [int] NULL,
	[COD_SOCIEDAD] [nvarchar](50) NOT NULL,
	[COD_USUARIO] [int] NOT NULL,
	[REND_ESTADO] [int] NOT NULL,
	[REND_FECHA_CREACION] [date] NOT NULL,
	[REND_APROBACION_JEFE] [int] NOT NULL,
	[REND_COMENTARIO] [nvarchar](500) NULL,
	[LREN_ACCION] [nvarchar](20) NULL,
	[LREN_FECHA_ACCION] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_LOG_RENDICION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOG_RENDICION_DETALLE]    Script Date: 24/09/2020 18:07:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOG_RENDICION_DETALLE](
	[COD_LOG_RENDICION_DETALLE] [int] IDENTITY(1,1) NOT NULL,
	[COD_RENDICION_DETALLE] [int] NULL,
	[COD_LOG_RENDICION] [int] NOT NULL,
	[COD_PLAN_DE_CUENTA] [int] NOT NULL,
	[COD_CENTRO_DE_COSTO] [int] NOT NULL,
	[COD_ADJUNTO] [int] NOT NULL,
	[REND_LINEA] [int] NOT NULL,
	[REND_COMENTERIO] [nvarchar](500) NULL,
	[REND_TIPO_DOC] [nvarchar](30) NULL,
	[REND_MONTO] [int] NOT NULL,
	[LRD_ACCION] [nvarchar](20) NULL,
	[LRD_FECHA_ACCION] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_LOG_RENDICION_DETALLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOGO_SOCIEDAD]    Script Date: 24/09/2020 18:07:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOGO_SOCIEDAD](
	[COD_LOGO] [int] IDENTITY(1,1) NOT NULL,
	[LOG_URL] [nvarchar](100) NULL,
	[COD_SOCIEDAD] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_LOGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MODULO]    Script Date: 24/09/2020 18:07:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MODULO](
	[COD_MODULO] [int] IDENTITY(1,1) NOT NULL,
	[MOD_NOMBRE] [nvarchar](100) NOT NULL,
	[COD_PERFIL_MODULO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_MODULO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERFIL]    Script Date: 24/09/2020 18:07:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERFIL](
	[COD_PERFIL] [int] IDENTITY(1,1) NOT NULL,
	[COD_USUARIO] [int] NOT NULL,
	[PERF_NOMBRE] [nvarchar](100) NOT NULL,
	[PERF_GRUPOERP] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_PERFIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERFIL_MODULO]    Script Date: 24/09/2020 18:07:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERFIL_MODULO](
	[COD_PERFIL_MODULO] [int] IDENTITY(1,1) NOT NULL,
	[PERM_NOMBRE] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PERFIL_MODULO] PRIMARY KEY CLUSTERED 
(
	[COD_PERFIL_MODULO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERMISO]    Script Date: 24/09/2020 18:07:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERMISO](
	[COD_PERMISO] [int] IDENTITY(1,1) NOT NULL,
	[PER_ESACTIVO] [int] NOT NULL,
	[COD_PERFIL] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_PERMISO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PLAN_DE_CUENTA]    Script Date: 24/09/2020 18:07:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLAN_DE_CUENTA](
	[COD_PLAN_DE_CUENTA] [nvarchar](50) NOT NULL,
	[COD_SOCIEDAD] [nvarchar](50) NOT NULL,
	[PDC_NOMBRE] [nvarchar](100) NOT NULL,
	[PDC_ESTADO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_PLAN_DE_CUENTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROCESO_APROBACION]    Script Date: 24/09/2020 18:07:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROCESO_APROBACION](
	[COD_PROCESO_APROBACION] [int] IDENTITY(1,1) NOT NULL,
	[COD_SOCIEDAD] [nvarchar](50) NOT NULL,
	[PROA_FECHA] [date] NOT NULL,
	[PROA_ESVALIDO] [int] NOT NULL,
	[PROA_COMENTARIO] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_PROCESO_APROBACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROYECTO]    Script Date: 24/09/2020 18:07:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROYECTO](
	[COD_PROYECTO] [nvarchar](50) NOT NULL,
	[COD_SOCIEDAD] [nvarchar](50) NOT NULL,
	[PROY_DESCRIPCION] [nvarchar](100) NOT NULL,
	[PROY_FECHA_INICIO] [date] NOT NULL,
	[PROY_FECHA_FIN] [date] NOT NULL,
	[PROY_ESTADO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_PROYECTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RENDICION]    Script Date: 24/09/2020 18:07:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RENDICION](
	[COD_RENDICION] [int] IDENTITY(1,1) NOT NULL,
	[COD_SOCIEDAD] [nvarchar](50) NOT NULL,
	[COD_USUARIO] [int] NOT NULL,
	[REND_ESTADO] [int] NOT NULL,
	[REND_FECHA_CREACION] [date] NOT NULL,
	[REND_APROBACION_JEFE] [int] NOT NULL,
	[REND_COMENTARIO] [nvarchar](500) NULL,
	[COD_CENTRO_DE_COSTO] [nvarchar](50) NULL,
	[COD_PROYECTO] [nvarchar](50) NULL,
	[COD_FONDO_POR_RENDIR] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_RENDICION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RENDICION_DETALLE]    Script Date: 24/09/2020 18:07:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RENDICION_DETALLE](
	[COD_RENDICION_DETALLE] [int] IDENTITY(1,1) NOT NULL,
	[COD_RENDICION] [int] NOT NULL,
	[COD_ADJUNTO] [int] NOT NULL,
	[REND_LINEA] [int] NOT NULL,
	[REND_COMENTARIO] [nvarchar](500) NULL,
	[REND_TIPO_DOC] [nvarchar](30) NULL,
	[REND_MONTO] [int] NOT NULL,
	[COD_ARTICULO] [nvarchar](50) NULL,
	[COD_PLAN_DE_CUENTA] [nvarchar](50) NULL,
	[COD_CENTRO_DE_COSTO] [nvarchar](50) NOT NULL,
	[COD_PROYECTO] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_RENDICION_DETALLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROL]    Script Date: 24/09/2020 18:07:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROL](
	[COD_ROL] [int] IDENTITY(1,1) NOT NULL,
	[ROL_DESCRIPCION] [nvarchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_ROL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SINCRONIZACION]    Script Date: 24/09/2020 18:07:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINCRONIZACION](
	[COD_SINCRONIZACION] [int] IDENTITY(1,1) NOT NULL,
	[SINC_ESACTIVO] [int] NOT NULL,
	[SINC_FRECUENCIA] [int] NOT NULL,
	[COD_TIPO_SINCRONIZACION] [int] NOT NULL,
	[COD_SOCIEDAD] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_SINCRONIZACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SOCIEDAD]    Script Date: 24/09/2020 18:07:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SOCIEDAD](
	[COD_SOCIEDAD] [nvarchar](50) NOT NULL,
	[SOC_NOMBRE] [nvarchar](50) NOT NULL,
	[SOC_SERVIDOR] [nvarchar](50) NOT NULL,
	[SOC_USUARIO] [nvarchar](50) NOT NULL,
	[SOC_CONTRASENIA] [nvarchar](50) NOT NULL,
	[SOC_ENLACE_SL] [nvarchar](50) NOT NULL,
	[SOC_ESACTIVA] [int] NULL,
	[COD_EMPRESA] [int] NULL,
	[SOC_VERSION_SQL] [nvarchar](50) NULL,
	[SOC_CONTRASENIA_BD] [nvarchar](100) NULL,
	[SOC_USUARIO_BD] [nvarchar](50) NULL,
	[SOC_BD] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_SOCIEDAD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_SINCRONIZACION]    Script Date: 24/09/2020 18:07:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_SINCRONIZACION](
	[COD_TIPO_SINCRONIZACION] [int] IDENTITY(1,1) NOT NULL,
	[TSIN_CONCEPTO] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_TIPO_SINCRONIZACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ADJUNTO] ON 

INSERT [dbo].[ADJUNTO] ([COD_ADJUNTO], [ADJ_RUTA]) VALUES (1, N'C://RUTA')
INSERT [dbo].[ADJUNTO] ([COD_ADJUNTO], [ADJ_RUTA]) VALUES (2, N'Presentacion-Portafolio_de_Titulo_Ing.Informatica-Final.pptx')
SET IDENTITY_INSERT [dbo].[ADJUNTO] OFF
GO
INSERT [dbo].[ARTICULO] ([COD_ARTICULO], [COD_SOCIEDAD], [COD_CUENTA], [ART_NOMBRE], [ART_ESTADO]) VALUES (N'ARTKY001', N'B10', N'KYPLAN001', N'Mouse ', 1)
INSERT [dbo].[ARTICULO] ([COD_ARTICULO], [COD_SOCIEDAD], [COD_CUENTA], [ART_NOMBRE], [ART_ESTADO]) VALUES (N'ARTKY002', N'B10', N'KYPLAN001', N'Monitor', 1)
INSERT [dbo].[ARTICULO] ([COD_ARTICULO], [COD_SOCIEDAD], [COD_CUENTA], [ART_NOMBRE], [ART_ESTADO]) VALUES (N'ARTKY003', N'B10', N'KYPLAN001', N'Microfono', 1)
GO
SET IDENTITY_INSERT [dbo].[ASIGNACION_LICENCIA] ON 

INSERT [dbo].[ASIGNACION_LICENCIA] ([COD_ASIGNACION_LICENCIA], [COD_LICENCIA], [COD_USUARIO]) VALUES (2019, 1, 1)
INSERT [dbo].[ASIGNACION_LICENCIA] ([COD_ASIGNACION_LICENCIA], [COD_LICENCIA], [COD_USUARIO]) VALUES (2020, 1, 1058)
INSERT [dbo].[ASIGNACION_LICENCIA] ([COD_ASIGNACION_LICENCIA], [COD_LICENCIA], [COD_USUARIO]) VALUES (2021, 1, 1059)
SET IDENTITY_INSERT [dbo].[ASIGNACION_LICENCIA] OFF
GO
SET IDENTITY_INSERT [dbo].[ASIGNACION_MODULO] ON 

INSERT [dbo].[ASIGNACION_MODULO] ([COD_ASIGNACION_MODULO], [COD_MODULO], [COD_SOCIEDAD], [COD_USUARIO]) VALUES (18, 3, N'B10', 1058)
INSERT [dbo].[ASIGNACION_MODULO] ([COD_ASIGNACION_MODULO], [COD_MODULO], [COD_SOCIEDAD], [COD_USUARIO]) VALUES (19, 3, N'B100', 1058)
INSERT [dbo].[ASIGNACION_MODULO] ([COD_ASIGNACION_MODULO], [COD_MODULO], [COD_SOCIEDAD], [COD_USUARIO]) VALUES (21, 1, N'B10', 1058)
SET IDENTITY_INSERT [dbo].[ASIGNACION_MODULO] OFF
GO
SET IDENTITY_INSERT [dbo].[ASIGNACION_SOCIEDAD] ON 

INSERT [dbo].[ASIGNACION_SOCIEDAD] ([COD_ASIGNACION_SOCIEDAD], [COD_SOCIEDAD], [COD_USUARIO], [COD_PERFIL], [CODIGO_USUARIO_SAP], [COD_JEFE]) VALUES (3057, N'B10', 1057, 3066, N'B3', 0)
INSERT [dbo].[ASIGNACION_SOCIEDAD] ([COD_ASIGNACION_SOCIEDAD], [COD_SOCIEDAD], [COD_USUARIO], [COD_PERFIL], [CODIGO_USUARIO_SAP], [COD_JEFE]) VALUES (4057, N'B2', 1057, 4061, N'NO ASIGNADO', 1057)
INSERT [dbo].[ASIGNACION_SOCIEDAD] ([COD_ASIGNACION_SOCIEDAD], [COD_SOCIEDAD], [COD_USUARIO], [COD_PERFIL], [CODIGO_USUARIO_SAP], [COD_JEFE]) VALUES (4058, N'B2', 1058, 4062, N'NO ASIGNADO', 1062)
SET IDENTITY_INSERT [dbo].[ASIGNACION_SOCIEDAD] OFF
GO
INSERT [dbo].[CENTRO_dE_COSTO] ([COD_CENTRO_DE_COSTO], [COD_SOCIEDAD], [CDC_NOMBRE], [CDC_ESTADO]) VALUES (N'001', N'B100', N'Finanzas', 1)
INSERT [dbo].[CENTRO_dE_COSTO] ([COD_CENTRO_DE_COSTO], [COD_SOCIEDAD], [CDC_NOMBRE], [CDC_ESTADO]) VALUES (N'KYCC001', N'B10', N'Finanzas', 1)
INSERT [dbo].[CENTRO_dE_COSTO] ([COD_CENTRO_DE_COSTO], [COD_SOCIEDAD], [CDC_NOMBRE], [CDC_ESTADO]) VALUES (N'VTRCDC001', N'B11X', N'Informatica', 1)
GO
SET IDENTITY_INSERT [dbo].[DECISION_APROBACION] ON 

INSERT [dbo].[DECISION_APROBACION] ([COD_DECISION_APROBACION], [DISA_RESULTADO], [DISA_COD_DOCUMENTO], [DISA_LINEA], [DISA_TIPO_DOCUMENTO]) VALUES (3, N'OK', 1, 1, N'1')
SET IDENTITY_INSERT [dbo].[DECISION_APROBACION] OFF
GO
SET IDENTITY_INSERT [dbo].[EMPRESA] ON 

INSERT [dbo].[EMPRESA] ([COD_EMPRESA], [EMP_NOMBRE]) VALUES (1, N'EMPRESA COCA-COLA')
INSERT [dbo].[EMPRESA] ([COD_EMPRESA], [EMP_NOMBRE]) VALUES (2, N'EMPRESA SOPROLE')
SET IDENTITY_INSERT [dbo].[EMPRESA] OFF
GO
SET IDENTITY_INSERT [dbo].[ETAPA] ON 

INSERT [dbo].[ETAPA] ([COD_ETAPA], [COD_USUARIO], [ETA_NUMERO], [ETA_NOMBRE], [ETA_ISVALIDO], [COD_PROCESO_APROBACION]) VALUES (1035, 1062, 1, N'Etapa 1', 1, 1023)
INSERT [dbo].[ETAPA] ([COD_ETAPA], [COD_USUARIO], [ETA_NUMERO], [ETA_NOMBRE], [ETA_ISVALIDO], [COD_PROCESO_APROBACION]) VALUES (1036, 1062, 3, N'Etapa 3', 1, 1023)
INSERT [dbo].[ETAPA] ([COD_ETAPA], [COD_USUARIO], [ETA_NUMERO], [ETA_NOMBRE], [ETA_ISVALIDO], [COD_PROCESO_APROBACION]) VALUES (1037, 1061, 4, N'Etapa 4', 1, 1023)
SET IDENTITY_INSERT [dbo].[ETAPA] OFF
GO
SET IDENTITY_INSERT [dbo].[FONDO_POR_RENDIR] ON 

INSERT [dbo].[FONDO_POR_RENDIR] ([COD_FONDO_POR_RENDIR], [COD_SOCIEDAD], [COD_USUARIO], [FXR_ESTADO], [FXR_FECHA_CREACION], [FXR_APROBACION_JEFE], [FXR_COMENTARIOS], [FXR_FECHA_NECESARIO]) VALUES (76, N'B10', 1058, 0, CAST(N'2020-09-24' AS Date), 100, N'Pc de escritorio , para programar.', CAST(N'2020-09-25' AS Date))
SET IDENTITY_INSERT [dbo].[FONDO_POR_RENDIR] OFF
GO
SET IDENTITY_INSERT [dbo].[FONDO_POR_RENDIR_DETALLE] ON 

INSERT [dbo].[FONDO_POR_RENDIR_DETALLE] ([COD_FONDO_POR_RENDIR_DETALLE], [COD_FONDO_POR_RENDIR], [FXRD_LINEA], [FXRD_COMENTARIO], [FXRD_TIPO_DOC], [FXRD_MONTO], [COD_ARTICULO], [COD_PLAN_DE_CUENTA], [COD_CENTRO_DE_COSTO], [COD_PROYECTO]) VALUES (52, 76, 0, N'Mouse logitech', N'1', 20000, N'ARTKY001', N'KYPLAN001', N'KYCC001', N'PROKY001')
INSERT [dbo].[FONDO_POR_RENDIR_DETALLE] ([COD_FONDO_POR_RENDIR_DETALLE], [COD_FONDO_POR_RENDIR], [FXRD_LINEA], [FXRD_COMENTARIO], [FXRD_TIPO_DOC], [FXRD_MONTO], [COD_ARTICULO], [COD_PLAN_DE_CUENTA], [COD_CENTRO_DE_COSTO], [COD_PROYECTO]) VALUES (53, 76, 0, N'i5 , 8 RAM y 245 SSD', N'1', 500000, N'ARTKY006', N'KYPLAN001', N'KYCC001', N'PROKY001')
SET IDENTITY_INSERT [dbo].[FONDO_POR_RENDIR_DETALLE] OFF
GO
SET IDENTITY_INSERT [dbo].[LICENCIA] ON 

INSERT [dbo].[LICENCIA] ([COD_LICENCIA], [LIC_DESCRIPCION], [LIC_ANIO_CADUCACION], [LIC_TOTAL], [COD_EMPRESA]) VALUES (1, N'LICENCIA B1', CAST(N'2021-08-31' AS Date), 20, 1)
INSERT [dbo].[LICENCIA] ([COD_LICENCIA], [LIC_DESCRIPCION], [LIC_ANIO_CADUCACION], [LIC_TOTAL], [COD_EMPRESA]) VALUES (4, N'LICENCIA B1', CAST(N'2021-08-31' AS Date), 20, 2)
SET IDENTITY_INSERT [dbo].[LICENCIA] OFF
GO
SET IDENTITY_INSERT [dbo].[LOGO_SOCIEDAD] ON 

INSERT [dbo].[LOGO_SOCIEDAD] ([COD_LOGO], [LOG_URL], [COD_SOCIEDAD]) VALUES (19, N'Movistar-Logo.png', N'B100')
INSERT [dbo].[LOGO_SOCIEDAD] ([COD_LOGO], [LOG_URL], [COD_SOCIEDAD]) VALUES (21, N'39bc14d28fe981e4979737038c983922.jpg', N'B3')
INSERT [dbo].[LOGO_SOCIEDAD] ([COD_LOGO], [LOG_URL], [COD_SOCIEDAD]) VALUES (1020, N'kyros_logo.png', N'B10')
SET IDENTITY_INSERT [dbo].[LOGO_SOCIEDAD] OFF
GO
SET IDENTITY_INSERT [dbo].[MODULO] ON 

INSERT [dbo].[MODULO] ([COD_MODULO], [MOD_NOMBRE], [COD_PERFIL_MODULO]) VALUES (1, N'Proyectos', 1)
INSERT [dbo].[MODULO] ([COD_MODULO], [MOD_NOMBRE], [COD_PERFIL_MODULO]) VALUES (2, N'Articulos', 1)
INSERT [dbo].[MODULO] ([COD_MODULO], [MOD_NOMBRE], [COD_PERFIL_MODULO]) VALUES (3, N'CentroCosto', 1)
SET IDENTITY_INSERT [dbo].[MODULO] OFF
GO
SET IDENTITY_INSERT [dbo].[PERFIL] ON 

INSERT [dbo].[PERFIL] ([COD_PERFIL], [COD_USUARIO], [PERF_NOMBRE], [PERF_GRUPOERP]) VALUES (2061, 1, N'MASTER', N'GRUPO DEFAULT')
INSERT [dbo].[PERFIL] ([COD_PERFIL], [COD_USUARIO], [PERF_NOMBRE], [PERF_GRUPOERP]) VALUES (3066, 1057, N'ADMINISTRADOR', N'GRUPO DEFAULT')
INSERT [dbo].[PERFIL] ([COD_PERFIL], [COD_USUARIO], [PERF_NOMBRE], [PERF_GRUPOERP]) VALUES (4061, 1057, N'ADMINISTRADOR', N'GRUPO DEFAULT')
SET IDENTITY_INSERT [dbo].[PERFIL] OFF
GO
SET IDENTITY_INSERT [dbo].[PERFIL_MODULO] ON 

INSERT [dbo].[PERFIL_MODULO] ([COD_PERFIL_MODULO], [PERM_NOMBRE]) VALUES (1, N'ADMINISTRADOR')
INSERT [dbo].[PERFIL_MODULO] ([COD_PERFIL_MODULO], [PERM_NOMBRE]) VALUES (2, N'AUTORIZADOR')
INSERT [dbo].[PERFIL_MODULO] ([COD_PERFIL_MODULO], [PERM_NOMBRE]) VALUES (3, N'USUARIO')
SET IDENTITY_INSERT [dbo].[PERFIL_MODULO] OFF
GO
SET IDENTITY_INSERT [dbo].[PERMISO] ON 

INSERT [dbo].[PERMISO] ([COD_PERMISO], [PER_ESACTIVO], [COD_PERFIL]) VALUES (1, 1, 3066)
SET IDENTITY_INSERT [dbo].[PERMISO] OFF
GO
INSERT [dbo].[PLAN_DE_CUENTA] ([COD_PLAN_DE_CUENTA], [COD_SOCIEDAD], [PDC_NOMBRE], [PDC_ESTADO]) VALUES (N'2', N'B11x', N'Finanzas Modulo A', 1)
INSERT [dbo].[PLAN_DE_CUENTA] ([COD_PLAN_DE_CUENTA], [COD_SOCIEDAD], [PDC_NOMBRE], [PDC_ESTADO]) VALUES (N'KYPLAN001', N'B10', N'Informatica', 1)
INSERT [dbo].[PLAN_DE_CUENTA] ([COD_PLAN_DE_CUENTA], [COD_SOCIEDAD], [PDC_NOMBRE], [PDC_ESTADO]) VALUES (N'PD1', N'B11X', N'Finanzas Modulo B', 1)
GO
SET IDENTITY_INSERT [dbo].[PROCESO_APROBACION] ON 

INSERT [dbo].[PROCESO_APROBACION] ([COD_PROCESO_APROBACION], [COD_SOCIEDAD], [PROA_FECHA], [PROA_ESVALIDO], [PROA_COMENTARIO]) VALUES (1023, N'B11X', CAST(N'2020-09-21' AS Date), 1, N'fdsfsd')
INSERT [dbo].[PROCESO_APROBACION] ([COD_PROCESO_APROBACION], [COD_SOCIEDAD], [PROA_FECHA], [PROA_ESVALIDO], [PROA_COMENTARIO]) VALUES (1028, N'B3', CAST(N'2020-09-21' AS Date), 1, N'Solo una etapa')
INSERT [dbo].[PROCESO_APROBACION] ([COD_PROCESO_APROBACION], [COD_SOCIEDAD], [PROA_FECHA], [PROA_ESVALIDO], [PROA_COMENTARIO]) VALUES (1031, N'B100', CAST(N'2020-09-22' AS Date), 1, N'Etapa de aprobación movistar')
SET IDENTITY_INSERT [dbo].[PROCESO_APROBACION] OFF
GO
INSERT [dbo].[PROYECTO] ([COD_PROYECTO], [COD_SOCIEDAD], [PROY_DESCRIPCION], [PROY_FECHA_INICIO], [PROY_FECHA_FIN], [PROY_ESTADO]) VALUES (N'PROKY001', N'B10', N'Proyecto B1 EXPESNES', CAST(N'2020-09-10' AS Date), CAST(N'2020-09-29' AS Date), 1)
INSERT [dbo].[PROYECTO] ([COD_PROYECTO], [COD_SOCIEDAD], [PROY_DESCRIPCION], [PROY_FECHA_INICIO], [PROY_FECHA_FIN], [PROY_ESTADO]) VALUES (N'PROKY002', N'B10', N'B2 VENTAS', CAST(N'2020-09-17' AS Date), CAST(N'2020-09-24' AS Date), 1)
INSERT [dbo].[PROYECTO] ([COD_PROYECTO], [COD_SOCIEDAD], [PROY_DESCRIPCION], [PROY_FECHA_INICIO], [PROY_FECHA_FIN], [PROY_ESTADO]) VALUES (N'PROYM001', N'B100', N'Proyecto_002', CAST(N'2020-12-09' AS Date), CAST(N'2020-06-11' AS Date), 1)
GO
INSERT [dbo].[SOCIEDAD] ([COD_SOCIEDAD], [SOC_NOMBRE], [SOC_SERVIDOR], [SOC_USUARIO], [SOC_CONTRASENIA], [SOC_ENLACE_SL], [SOC_ESACTIVA], [COD_EMPRESA], [SOC_VERSION_SQL], [SOC_CONTRASENIA_BD], [SOC_USUARIO_BD], [SOC_BD]) VALUES (N'B10', N'Kyros', N'KYROS-AUX', N'KYROS-AUX', N'1234', N'10.0.2.50', 1, 1, N'undefined', N'SAPB1Aadmin', N'sa', N'SBODemoCL')
INSERT [dbo].[SOCIEDAD] ([COD_SOCIEDAD], [SOC_NOMBRE], [SOC_SERVIDOR], [SOC_USUARIO], [SOC_CONTRASENIA], [SOC_ENLACE_SL], [SOC_ESACTIVA], [COD_EMPRESA], [SOC_VERSION_SQL], [SOC_CONTRASENIA_BD], [SOC_USUARIO_BD], [SOC_BD]) VALUES (N'B100', N'Movistar', N'MovistarSap123', N'MovistarSap123', N'qazxsw2134e', N'MovistarSap.cl', 0, 1, N'undefined', N'qazxsw2134e', N'MovistarBD', N'SBODemoCL')
INSERT [dbo].[SOCIEDAD] ([COD_SOCIEDAD], [SOC_NOMBRE], [SOC_SERVIDOR], [SOC_USUARIO], [SOC_CONTRASENIA], [SOC_ENLACE_SL], [SOC_ESACTIVA], [COD_EMPRESA], [SOC_VERSION_SQL], [SOC_CONTRASENIA_BD], [SOC_USUARIO_BD], [SOC_BD]) VALUES (N'B11X', N'VTR', N'VTR', N'VTR', N'qazxsw2134e', N'10.0.2.50', 0, 1, N'undefined', N'qazxsw2134e', N'FrunaBDSAP', N'saFruna')
GO
SET IDENTITY_INSERT [dbo].[TIPO_SINCRONIZACION] ON 

INSERT [dbo].[TIPO_SINCRONIZACION] ([COD_TIPO_SINCRONIZACION], [TSIN_CONCEPTO]) VALUES (1, N'SINCRO UNO')
SET IDENTITY_INSERT [dbo].[TIPO_SINCRONIZACION] OFF
GO
SET IDENTITY_INSERT [dbo].[USUARIO] ON 

INSERT [dbo].[USUARIO] ([COD_USUARIO], [USU_RUT], [USU_CORREO], [USU_NOMBRE], [USU_APELLIDO], [USU_TELEFONO], [USU_DIRECCION], [USU_CONTRASENIA], [USU_ESACTIVO], [COD_EMPRESA]) VALUES (1, N'201209021', N'vi.munozo@gmail.com', N'Vicente', N'Muñoz', 54161743, N'pasaje uno #2021', N'8da12e81c1d4d0dda4441a4240fd8e168126dbeb36a63d30fa0c818f46e9c752', 1, 1)
INSERT [dbo].[USUARIO] ([COD_USUARIO], [USU_RUT], [USU_CORREO], [USU_NOMBRE], [USU_APELLIDO], [USU_TELEFONO], [USU_DIRECCION], [USU_CONTRASENIA], [USU_ESACTIVO], [COD_EMPRESA]) VALUES (1057, N'129098562', N'vi.munoz1o@gmail.com', N'Juana', N'Perez', 54161743, N'pasaje uno #2021', N'8da12e81c1d4d0dda4441a4240fd8e168126dbeb36a63d30fa0c818f46e9c752', 1, 1)
INSERT [dbo].[USUARIO] ([COD_USUARIO], [USU_RUT], [USU_CORREO], [USU_NOMBRE], [USU_APELLIDO], [USU_TELEFONO], [USU_DIRECCION], [USU_CONTRASENIA], [USU_ESACTIVO], [COD_EMPRESA]) VALUES (1058, N'11220220K', N'hernan.munoz@gmail.com', N'Hernan', N'Muñoz', 5461743, N'pasaje b , calle 123', N'8da12e81c1d4d0dda4441a4240fd8e168126dbeb36a63d30fa0c818f46e9c752', 1, 1)
SET IDENTITY_INSERT [dbo].[USUARIO] OFF
GO
ALTER TABLE [dbo].[ARTICULO]  WITH CHECK ADD FOREIGN KEY([COD_CUENTA])
REFERENCES [dbo].[PLAN_DE_CUENTA] ([COD_PLAN_DE_CUENTA])
GO
ALTER TABLE [dbo].[ASIGNACION_MODULO]  WITH CHECK ADD FOREIGN KEY([COD_MODULO])
REFERENCES [dbo].[MODULO] ([COD_MODULO])
GO
ALTER TABLE [dbo].[ASIGNACION_MODULO]  WITH CHECK ADD FOREIGN KEY([COD_SOCIEDAD])
REFERENCES [dbo].[SOCIEDAD] ([COD_SOCIEDAD])
GO
ALTER TABLE [dbo].[ASIGNACION_MODULO]  WITH CHECK ADD FOREIGN KEY([COD_USUARIO])
REFERENCES [dbo].[USUARIO] ([COD_USUARIO])
GO
ALTER TABLE [dbo].[ASIGNACION_MODULO]  WITH CHECK ADD FOREIGN KEY([COD_USUARIO])
REFERENCES [dbo].[USUARIO] ([COD_USUARIO])
GO
ALTER TABLE [dbo].[ASIGNACION_SOCIEDAD]  WITH CHECK ADD FOREIGN KEY([COD_PERFIL])
REFERENCES [dbo].[PERFIL] ([COD_PERFIL])
GO
ALTER TABLE [dbo].[CONFIGURACION]  WITH CHECK ADD FOREIGN KEY([COD_GRUPO_CONFIGURACION_SOCIEDAD])
REFERENCES [dbo].[GRUPO_CONFIGURACION_SOCIEDAD] ([COD_GRUPO_CONFIGURACION_SOCIEDAD])
GO
ALTER TABLE [dbo].[DOC_VENTA]  WITH CHECK ADD FOREIGN KEY([COD_SOCIEDAD])
REFERENCES [dbo].[SOCIEDAD] ([COD_SOCIEDAD])
GO
ALTER TABLE [dbo].[DOC_VENTA]  WITH CHECK ADD FOREIGN KEY([COD_USUARIO])
REFERENCES [dbo].[USUARIO] ([COD_USUARIO])
GO
ALTER TABLE [dbo].[DOC_VENTA_DETALLE]  WITH CHECK ADD FOREIGN KEY([COD_ARTICULO])
REFERENCES [dbo].[ARTICULO] ([COD_ARTICULO])
GO
ALTER TABLE [dbo].[DOC_VENTA_DETALLE]  WITH CHECK ADD FOREIGN KEY([COD_CENTRO_DE_COSTO])
REFERENCES [dbo].[CENTRO_dE_COSTO] ([COD_CENTRO_DE_COSTO])
GO
ALTER TABLE [dbo].[DOC_VENTA_DETALLE]  WITH CHECK ADD FOREIGN KEY([COD_PROYECTO])
REFERENCES [dbo].[PROYECTO] ([COD_PROYECTO])
GO
ALTER TABLE [dbo].[DOC_VENTA_DETALLE]  WITH CHECK ADD FOREIGN KEY([COD_PLAN_DE_CUENTA])
REFERENCES [dbo].[PLAN_DE_CUENTA] ([COD_PLAN_DE_CUENTA])
GO
ALTER TABLE [dbo].[ETAPA]  WITH CHECK ADD FOREIGN KEY([COD_PROCESO_APROBACION])
REFERENCES [dbo].[PROCESO_APROBACION] ([COD_PROCESO_APROBACION])
GO
ALTER TABLE [dbo].[ETAPA]  WITH CHECK ADD FOREIGN KEY([COD_USUARIO])
REFERENCES [dbo].[USUARIO] ([COD_USUARIO])
GO
ALTER TABLE [dbo].[FONDO_POR_RENDIR]  WITH CHECK ADD FOREIGN KEY([COD_SOCIEDAD])
REFERENCES [dbo].[SOCIEDAD] ([COD_SOCIEDAD])
GO
ALTER TABLE [dbo].[FONDO_POR_RENDIR]  WITH CHECK ADD FOREIGN KEY([COD_USUARIO])
REFERENCES [dbo].[USUARIO] ([COD_USUARIO])
GO
ALTER TABLE [dbo].[FONDO_POR_RENDIR_DETALLE]  WITH CHECK ADD FOREIGN KEY([COD_ARTICULO])
REFERENCES [dbo].[ARTICULO] ([COD_ARTICULO])
GO
ALTER TABLE [dbo].[FONDO_POR_RENDIR_DETALLE]  WITH CHECK ADD FOREIGN KEY([COD_CENTRO_DE_COSTO])
REFERENCES [dbo].[CENTRO_dE_COSTO] ([COD_CENTRO_DE_COSTO])
GO
ALTER TABLE [dbo].[FONDO_POR_RENDIR_DETALLE]  WITH CHECK ADD FOREIGN KEY([COD_PLAN_DE_CUENTA])
REFERENCES [dbo].[PLAN_DE_CUENTA] ([COD_PLAN_DE_CUENTA])
GO
ALTER TABLE [dbo].[FONDO_POR_RENDIR_DETALLE]  WITH CHECK ADD FOREIGN KEY([COD_PROYECTO])
REFERENCES [dbo].[PROYECTO] ([COD_PROYECTO])
GO
ALTER TABLE [dbo].[GRUPO_CONFIGURACION_SOCIEDAD]  WITH CHECK ADD FOREIGN KEY([COD_SOCIEDAD])
REFERENCES [dbo].[SOCIEDAD] ([COD_SOCIEDAD])
GO
ALTER TABLE [dbo].[LICENCIA]  WITH CHECK ADD FOREIGN KEY([COD_EMPRESA])
REFERENCES [dbo].[EMPRESA] ([COD_EMPRESA])
GO
ALTER TABLE [dbo].[LOG_DOC_VENTA_DETALLE]  WITH CHECK ADD FOREIGN KEY([COD_LOG_DOC_VENTA])
REFERENCES [dbo].[LOG_DOC_VENTA] ([COD_LOG_DOC_VENTA])
GO
ALTER TABLE [dbo].[LOG_FONDO_POR_RENDIR_DETALLE]  WITH CHECK ADD FOREIGN KEY([COD_LOG_FONDO_POR_RENDIR])
REFERENCES [dbo].[LOG_FONDO_POR_RENDIR] ([COD_LOG_FONDO_POR_RENDIR])
GO
ALTER TABLE [dbo].[LOG_RENDICION_DETALLE]  WITH CHECK ADD FOREIGN KEY([COD_LOG_RENDICION_DETALLE])
REFERENCES [dbo].[LOG_RENDICION] ([COD_LOG_RENDICION])
GO
ALTER TABLE [dbo].[LOGO_SOCIEDAD]  WITH CHECK ADD FOREIGN KEY([COD_SOCIEDAD])
REFERENCES [dbo].[SOCIEDAD] ([COD_SOCIEDAD])
GO
ALTER TABLE [dbo].[MODULO]  WITH CHECK ADD FOREIGN KEY([COD_PERFIL_MODULO])
REFERENCES [dbo].[PERFIL_MODULO] ([COD_PERFIL_MODULO])
GO
ALTER TABLE [dbo].[PERFIL]  WITH CHECK ADD FOREIGN KEY([COD_USUARIO])
REFERENCES [dbo].[USUARIO] ([COD_USUARIO])
GO
ALTER TABLE [dbo].[PERMISO]  WITH CHECK ADD FOREIGN KEY([COD_PERFIL])
REFERENCES [dbo].[PERFIL] ([COD_PERFIL])
GO
ALTER TABLE [dbo].[PROCESO_APROBACION]  WITH CHECK ADD FOREIGN KEY([COD_SOCIEDAD])
REFERENCES [dbo].[SOCIEDAD] ([COD_SOCIEDAD])
GO
ALTER TABLE [dbo].[RENDICION]  WITH CHECK ADD FOREIGN KEY([COD_SOCIEDAD])
REFERENCES [dbo].[SOCIEDAD] ([COD_SOCIEDAD])
GO
ALTER TABLE [dbo].[RENDICION]  WITH CHECK ADD FOREIGN KEY([COD_USUARIO])
REFERENCES [dbo].[USUARIO] ([COD_USUARIO])
GO
ALTER TABLE [dbo].[RENDICION_DETALLE]  WITH CHECK ADD FOREIGN KEY([COD_ARTICULO])
REFERENCES [dbo].[ARTICULO] ([COD_ARTICULO])
GO
ALTER TABLE [dbo].[RENDICION_DETALLE]  WITH CHECK ADD FOREIGN KEY([COD_CENTRO_DE_COSTO])
REFERENCES [dbo].[CENTRO_dE_COSTO] ([COD_CENTRO_DE_COSTO])
GO
ALTER TABLE [dbo].[RENDICION_DETALLE]  WITH CHECK ADD FOREIGN KEY([COD_PLAN_DE_CUENTA])
REFERENCES [dbo].[PLAN_DE_CUENTA] ([COD_PLAN_DE_CUENTA])
GO
ALTER TABLE [dbo].[RENDICION_DETALLE]  WITH CHECK ADD FOREIGN KEY([COD_PROYECTO])
REFERENCES [dbo].[PROYECTO] ([COD_PROYECTO])
GO
ALTER TABLE [dbo].[SINCRONIZACION]  WITH CHECK ADD FOREIGN KEY([COD_SOCIEDAD])
REFERENCES [dbo].[SOCIEDAD] ([COD_SOCIEDAD])
GO
ALTER TABLE [dbo].[SINCRONIZACION]  WITH CHECK ADD FOREIGN KEY([COD_SOCIEDAD])
REFERENCES [dbo].[SOCIEDAD] ([COD_SOCIEDAD])
GO
ALTER TABLE [dbo].[SINCRONIZACION]  WITH CHECK ADD FOREIGN KEY([COD_TIPO_SINCRONIZACION])
REFERENCES [dbo].[TIPO_SINCRONIZACION] ([COD_TIPO_SINCRONIZACION])
GO
ALTER TABLE [dbo].[SOCIEDAD]  WITH CHECK ADD FOREIGN KEY([COD_EMPRESA])
REFERENCES [dbo].[EMPRESA] ([COD_EMPRESA])
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD FOREIGN KEY([COD_EMPRESA])
REFERENCES [dbo].[EMPRESA] ([COD_EMPRESA])
GO
