USE [SOPORTE]
GO
/****** Object:  Table [dbo].[ASIGNACION_CONTRATO]    Script Date: 05-11-2020 19:15:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASIGNACION_CONTRATO](
	[COD_ASIGNACION_CONTRATO] [int] IDENTITY(1,1) NOT NULL,
	[COD_USUARIO] [int] NULL,
	[COD_CONTRATO] [int] NULL,
	[FECHA_COMIENZO_CONTRATO] [date] NULL,
	[FECHA_TERMINO_CONTRATO] [date] NULL,
	[HORAS] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_ASIGNACION_CONTRATO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MENSAJE]    Script Date: 05-11-2020 19:15:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MENSAJE](
	[COD_MENSAJE] [int] IDENTITY(1,1) NOT NULL,
	[COD_TICKET] [int] NULL,
	[COD_USUARIO] [int] NULL,
	[FECHA_MENSAJE] [date] NULL,
	[HORA_MENSAJE] [time](7) NULL,
	[COMENTARIO] [nvarchar](200) NULL,
	[VISTO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_MENSAJE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROL]    Script Date: 05-11-2020 19:15:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROL](
	[COD_ROL] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [nvarchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_ROL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TICKET]    Script Date: 05-11-2020 19:15:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TICKET](
	[COD_TICKET] [int] IDENTITY(1,1) NOT NULL,
	[COD_USUARIO_SOLICITANTE] [int] NULL,
	[COD_USUARIO_SOPORTE] [int] NULL,
	[FECHA_SOLICITUD] [date] NULL,
	[HORA_SOLICITUD] [time](7) NULL,
	[NIVEL_URGENCIA] [nvarchar](30) NULL,
	[TIPO_PROBLEMA] [nvarchar](30) NULL,
	[COMENTARIO] [nvarchar](200) NULL,
	[URL_ADJUNTO] [nvarchar](200) NULL,
	[COD_ASIGNACION_CONTRATO] [int] NULL,
	[ESTADO] [nvarchar](50) NULL,
	[VISTO] [int] NULL,
	[DESCRIPCION] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_TICKET] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 05-11-2020 19:15:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[COD_USUARIO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_CLIENTE] [nvarchar](50) NOT NULL,
	[CORREO] [nvarchar](100) NOT NULL,
	[COD_CONTACTO] [int] NULL,
	[TELEFONO] [int] NULL,
	[ESACTIVO] [int] NULL,
	[CONTRASEÑA] [nvarchar](100) NULL,
	[COD_ROL] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ASIGNACION_CONTRATO] ON 

INSERT [dbo].[ASIGNACION_CONTRATO] ([COD_ASIGNACION_CONTRATO], [COD_USUARIO], [COD_CONTRATO], [FECHA_COMIENZO_CONTRATO], [FECHA_TERMINO_CONTRATO], [HORAS]) VALUES (1, 3, 2, CAST(N'2020-02-02' AS Date), CAST(N'2020-03-03' AS Date), CAST(N'13:03:02' AS Time))
SET IDENTITY_INSERT [dbo].[ASIGNACION_CONTRATO] OFF
GO
SET IDENTITY_INSERT [dbo].[MENSAJE] ON 

INSERT [dbo].[MENSAJE] ([COD_MENSAJE], [COD_TICKET], [COD_USUARIO], [FECHA_MENSAJE], [HORA_MENSAJE], [COMENTARIO], [VISTO]) VALUES (61, 48, 4, CAST(N'2020-10-04' AS Date), CAST(N'20:39:09' AS Time), N'Hola buenas tardes', 1)
INSERT [dbo].[MENSAJE] ([COD_MENSAJE], [COD_TICKET], [COD_USUARIO], [FECHA_MENSAJE], [HORA_MENSAJE], [COMENTARIO], [VISTO]) VALUES (62, 48, 8, CAST(N'2020-10-04' AS Date), CAST(N'20:40:03' AS Time), N'Hola , que tal , te da un mensajes de error ?.', 1)
INSERT [dbo].[MENSAJE] ([COD_MENSAJE], [COD_TICKET], [COD_USUARIO], [FECHA_MENSAJE], [HORA_MENSAJE], [COMENTARIO], [VISTO]) VALUES (63, 48, 4, CAST(N'2020-10-04' AS Date), CAST(N'20:40:15' AS Time), N'Si , es el siguiente 555', 1)
SET IDENTITY_INSERT [dbo].[MENSAJE] OFF
GO
SET IDENTITY_INSERT [dbo].[ROL] ON 

INSERT [dbo].[ROL] ([COD_ROL], [DESCRIPCION]) VALUES (1, N'ADMINISTRADOR')
INSERT [dbo].[ROL] ([COD_ROL], [DESCRIPCION]) VALUES (2, N'SOPORTE')
INSERT [dbo].[ROL] ([COD_ROL], [DESCRIPCION]) VALUES (3, N'CLIENTE')
SET IDENTITY_INSERT [dbo].[ROL] OFF
GO
SET IDENTITY_INSERT [dbo].[TICKET] ON 

INSERT [dbo].[TICKET] ([COD_TICKET], [COD_USUARIO_SOLICITANTE], [COD_USUARIO_SOPORTE], [FECHA_SOLICITUD], [HORA_SOLICITUD], [NIVEL_URGENCIA], [TIPO_PROBLEMA], [COMENTARIO], [URL_ADJUNTO], [COD_ASIGNACION_CONTRATO], [ESTADO], [VISTO], [DESCRIPCION]) VALUES (48, 4, 8, CAST(N'2020-10-04' AS Date), CAST(N'20:38:21' AS Time), N'Medio', N'Ventas', N'Hola , tengo un problema con RRHH ,  el programa se muere.', N'20201042038217d5735ab-3953-4b6f-bd41-02b38a71b3be.jfif', 1, N'2', 1, NULL)
INSERT [dbo].[TICKET] ([COD_TICKET], [COD_USUARIO_SOLICITANTE], [COD_USUARIO_SOPORTE], [FECHA_SOLICITUD], [HORA_SOLICITUD], [NIVEL_URGENCIA], [TIPO_PROBLEMA], [COMENTARIO], [URL_ADJUNTO], [COD_ASIGNACION_CONTRATO], [ESTADO], [VISTO], [DESCRIPCION]) VALUES (49, 4, 8, CAST(N'2020-10-05' AS Date), CAST(N'15:51:53' AS Time), N'Medio', N'Finanzas', N'sap se cae', N'20201051551537d5735ab-3953-4b6f-bd41-02b38a71b3be.jfif', 1, N'2', 1, N'sap')
INSERT [dbo].[TICKET] ([COD_TICKET], [COD_USUARIO_SOLICITANTE], [COD_USUARIO_SOPORTE], [FECHA_SOLICITUD], [HORA_SOLICITUD], [NIVEL_URGENCIA], [TIPO_PROBLEMA], [COMENTARIO], [URL_ADJUNTO], [COD_ASIGNACION_CONTRATO], [ESTADO], [VISTO], [DESCRIPCION]) VALUES (50, 4, 8, CAST(N'2020-10-05' AS Date), CAST(N'17:17:54' AS Time), N'Medio', N'Compras', N'Hola ', N'20201051717547d5735ab-3953-4b6f-bd41-02b38a71b3be.jfif', 1, N'1', 0, N'sap')
SET IDENTITY_INSERT [dbo].[TICKET] OFF
GO
SET IDENTITY_INSERT [dbo].[USUARIO] ON 

INSERT [dbo].[USUARIO] ([COD_USUARIO], [NOMBRE_CLIENTE], [CORREO], [COD_CONTACTO], [TELEFONO], [ESACTIVO], [CONTRASEÑA], [COD_ROL]) VALUES (3, N'Vicente Muños', N'vi.munozo@alumnos.duoc.cl', 1, 5461743, 0, N'qazxsw2134e', 1)
INSERT [dbo].[USUARIO] ([COD_USUARIO], [NOMBRE_CLIENTE], [CORREO], [COD_CONTACTO], [TELEFONO], [ESACTIVO], [CONTRASEÑA], [COD_ROL]) VALUES (4, N'Juan Perez', N'juan@gmail.com', 1, 5461743, 1, N'qazxsw2134e', 3)
INSERT [dbo].[USUARIO] ([COD_USUARIO], [NOMBRE_CLIENTE], [CORREO], [COD_CONTACTO], [TELEFONO], [ESACTIVO], [CONTRASEÑA], [COD_ROL]) VALUES (6, N'Diego Maradona', N'x', 1, 5461743, 1, N'qazxsw2134e', 1)
SET IDENTITY_INSERT [dbo].[USUARIO] OFF
GO
ALTER TABLE [dbo].[MENSAJE]  WITH CHECK ADD FOREIGN KEY([COD_TICKET])
REFERENCES [dbo].[TICKET] ([COD_TICKET])
GO
ALTER TABLE [dbo].[MENSAJE]  WITH CHECK ADD FOREIGN KEY([COD_USUARIO])
REFERENCES [dbo].[USUARIO] ([COD_USUARIO])
GO
ALTER TABLE [dbo].[TICKET]  WITH CHECK ADD FOREIGN KEY([COD_ASIGNACION_CONTRATO])
REFERENCES [dbo].[ASIGNACION_CONTRATO] ([COD_ASIGNACION_CONTRATO])
GO
ALTER TABLE [dbo].[TICKET]  WITH CHECK ADD FOREIGN KEY([COD_USUARIO_SOLICITANTE])
REFERENCES [dbo].[USUARIO] ([COD_USUARIO])
GO
ALTER TABLE [dbo].[TICKET]  WITH CHECK ADD FOREIGN KEY([COD_USUARIO_SOPORTE])
REFERENCES [dbo].[USUARIO] ([COD_USUARIO])
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD FOREIGN KEY([COD_ROL])
REFERENCES [dbo].[ROL] ([COD_ROL])
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD FOREIGN KEY([COD_USUARIO])
REFERENCES [dbo].[USUARIO] ([COD_USUARIO])
GO
/****** Object:  StoredProcedure [dbo].[ACTUALIZAR_USUARIO]    Script Date: 05-11-2020 19:15:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ACTUALIZAR_USUARIO]
@NOMBRE_CLIENTE NVARCHAR(50) ,
@CORREO NVARCHAR(50) ,
@COD_CONTACTO INT ,
@TELEFONO INT ,
@ESACTIVO INT ,
@CONTRASEÑA NVARCHAR(100) ,
@COD_ROL INT  ,
@COD_USUARIO INT
AS
UPDATE USUARIO SET NOMBRE_CLIENTE = @NOMBRE_CLIENTE  , CORREO = @CORREO ,
COD_CONTACTO = @COD_CONTACTO  , TELEFONO = @TELEFONO , 
ESACTIVO = @ESACTIVO , 
CONTRASEÑA = @CONTRASEÑA ,
COD_ROL = @COD_ROL WHERE COD_USUARIO =  @COD_USUARIO;  
GO
/****** Object:  StoredProcedure [dbo].[AGREGAR_USUARIO]    Script Date: 05-11-2020 19:15:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AGREGAR_USUARIO]
@NOMBRE_CLIENTE NVARCHAR(50) ,
@CORREO NVARCHAR(100),
@TELEFONO INT ,
@CONTRASEÑA NVARCHAR(100), 
@COD_ROL INT ,
@COD_CONTACTO INT 
AS 
INSERT INTO USUARIO (NOMBRE_CLIENTE,CORREO,COD_CONTACTO,TELEFONO,ESACTIVO,CONTRASEÑA,COD_ROL  )
VALUES (@NOMBRE_CLIENTE,@CORREO,@COD_CONTACTO,@TELEFONO,1,@CONTRASEÑA,@COD_ROL)
GO
/****** Object:  StoredProcedure [dbo].[CAMBIAR_ESTADO]    Script Date: 05-11-2020 19:15:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CAMBIAR_ESTADO]
@COD_TICKET INT,
@ESTADO INT 
AS
UPDATE TICKET SET ESTADO = @ESTADO  WHERE COD_TICKET = @COD_TICKET
GO
/****** Object:  StoredProcedure [dbo].[ENVIAR_MENSAJE]    Script Date: 05-11-2020 19:15:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ENVIAR_MENSAJE]
@CODIGO_TICKET INT ,
@CODIGO_USUARIO  INT ,
@FECHA_MENSAJE  DATE ,
@HORA_MENSAJE TIME ,
@MENSAJE NVARCHAR(120)
AS
INSERT INTO MENSAJE (COD_TICKET,COD_USUARIO,FECHA_MENSAJE,HORA_MENSAJE,COMENTARIO,VISTO) 
VALUES (@CODIGO_TICKET,@CODIGO_USUARIO,@FECHA_MENSAJE ,@HORA_MENSAJE,@MENSAJE ,0);
GO
/****** Object:  StoredProcedure [dbo].[FILTRAR_USUARIO]    Script Date: 05-11-2020 19:15:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FILTRAR_USUARIO]
@COD_USUARIO INT
AS
SELECT COD_USUARIO , NOMBRE_CLIENTE , CORREO , COD_CONTACTO , telefono , ESACTIVO , COD_ROL , CONTRASEÑA
FROM USUARIO WHERE COD_USUARIO = @COD_USUARIO;
GO
/****** Object:  StoredProcedure [dbo].[GUARDAR_TICKET]    Script Date: 05-11-2020 19:15:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GUARDAR_TICKET]
@COD_USUARIO_SOLICITANTE INT ,
@COD_USUARIO_SOPORTE INT,
@FECHA_SOLICITUD DATE ,
@HORA_SOLICITUD TIME,
@NIVEL_URGENCIA NVARCHAR(50),
@TIPO_PROBLEMA NVARCHAR(50),
@COMENTARIO NVARCHAR(200),
@URL_ADJUNTO NVARCHAR(200),
@COD_ASIGNACION_CONTRATO INT ,
@DESCRIPCION NVARCHAR(50)
AS
INSERT INTO TICKET 
(COD_USUARIO_SOLICITANTE,COD_USUARIO_SOPORTE,FECHA_SOLICITUD,HORA_SOLICITUD,NIVEL_URGENCIA
,TIPO_PROBLEMA,COMENTARIO,URL_ADJUNTO,COD_ASIGNACION_CONTRATO,ESTADO,VISTO,DESCRIPCION) 
VALUES (@COD_USUARIO_SOLICITANTE,@COD_USUARIO_SOPORTE,@FECHA_SOLICITUD,
@HORA_SOLICITUD,@NIVEL_URGENCIA,@TIPO_PROBLEMA,@COMENTARIO,@URL_ADJUNTO,@COD_ASIGNACION_CONTRATO,1,0,@DESCRIPCION);
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_MENSAJES]    Script Date: 05-11-2020 19:15:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LISTAR_MENSAJES]
@COD_TICKET INT
AS
SELECT MS.COD_MENSAJE , MS.COD_TICKET , US.NOMBRE_CLIENTE ,
CONVERT(varchar,MS.FECHA_MENSAJE,23) as 'FECHA' , MS.HORA_MENSAJE , MS.COMENTARIO , MS.VISTO FROM MENSAJE AS MS
JOIN USUARIO US
ON US.COD_USUARIO = MS.COD_USUARIO
WHERE COD_TICKET = @COD_TICKET ORDER BY COD_MENSAJE ASC;
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_SOLICITUDES]    Script Date: 05-11-2020 19:15:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LISTAR_SOLICITUDES]
@COD_USUARIO INT 
AS
SELECT * FROM TICKET WHERE COD_USUARIO_SOLICITANTE = @COD_USUARIO; 
GO
/****** Object:  StoredProcedure [dbo].[LOGIN]    Script Date: 05-11-2020 19:15:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LOGIN]
@CORREO NVARCHAR(50) ,
@CONTRASEÑA NVARCHAR(100)
AS 
SELECT COD_USUARIO , COD_ROL FROM USUARIO WHERE CORREO = @CORREO AND CONTRASEÑA = @CONTRASEÑA;
GO
/****** Object:  StoredProcedure [dbo].[MENSAJES_POR_VER]    Script Date: 05-11-2020 19:15:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MENSAJES_POR_VER]
@COD_USUARIO INT
AS
SELECT COUNT(*) AS 'TOTAL MENSAJES SIN VER' , TK.COD_TICKET FROM TICKET AS TK JOIN MENSAJE AS MJ
ON MJ.COD_TICKET = TK.COD_TICKET WHERE TK.COD_USUARIO_SOPORTE = @COD_USUARIO 
AND MJ.VISTO = 0 and MJ.COD_USUARIO <> @COD_USUARIO  GROUP BY TK.COD_TICKET ;
GO
/****** Object:  StoredProcedure [dbo].[MENSAJES_POR_VER_CLIENTE]    Script Date: 05-11-2020 19:15:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MENSAJES_POR_VER_CLIENTE]
@COD_USUARIO INT
AS
SELECT COUNT(*) AS 'TOTAL' ,   TK.COD_TICKET
FROM TICKET AS TK 
JOIN MENSAJE AS MJ 
ON MJ.COD_TICKET = TK.COD_TICKET WHERE TK.COD_USUARIO_SOLICITANTE = @COD_USUARIO
AND MJ.COD_USUARIO <> @COD_USUARIO AND MJ.VISTO = 0
GROUP BY TK.COD_TICKET;
GO
/****** Object:  StoredProcedure [dbo].[MENSAJES_SIN_VER_CLIENTE]    Script Date: 05-11-2020 19:15:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[MENSAJES_SIN_VER_CLIENTE]
@COD_USUARIO INT
AS
SELECT COUNT(*) AS 'TOTAL'
FROM TICKET AS TK 
JOIN MENSAJE AS MJ 
ON MJ.COD_TICKET = TK.COD_TICKET WHERE TK.COD_USUARIO_SOLICITANTE = @COD_USUARIO 
AND MJ.COD_USUARIO <> @COD_USUARIO AND MJ.VISTO = 0;
GO
/****** Object:  StoredProcedure [dbo].[MENSAJES_SIN_VER_SOPORTE]    Script Date: 05-11-2020 19:15:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MENSAJES_SIN_VER_SOPORTE]
@COD_USUARIO INT
AS
SELECT COUNT(*) AS 'TOTAL MENSAJES SIN VER' FROM TICKET AS TK JOIN MENSAJE AS MJ
ON MJ.COD_TICKET = TK.COD_TICKET WHERE TK.COD_USUARIO_SOPORTE = @COD_USUARIO 
AND MJ.VISTO = 0 and MJ.COD_USUARIO <> @COD_USUARIO ;
GO
/****** Object:  StoredProcedure [dbo].[MIS_TICKET]    Script Date: 05-11-2020 19:15:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MIS_TICKET]
@COD_USUARIO INT
AS
SELECT 
COD_TICKET,US.NOMBRE_CLIENTE AS 'ENCARGADO SOPORTE' , US.CORREO ,
CONVERT(varchar,FECHA_SOLICITUD,23),HORA_SOLICITUD,NIVEL_URGENCIA,
TIPO_PROBLEMA , COMENTARIO , URL_ADJUNTO , ESTADO
FROM TICKET AS TK
JOIN USUARIO US 
ON TK.COD_USUARIO_SOPORTE = US.COD_USUARIO
WHERE COD_USUARIO_SOLICITANTE = @COD_USUARIO
GO
/****** Object:  StoredProcedure [dbo].[MIS_TICKET_SOPORTE]    Script Date: 05-11-2020 19:15:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MIS_TICKET_SOPORTE]
@COD_USUARIO INT
AS
SELECT 
COD_TICKET,US.NOMBRE_CLIENTE AS 'ENCARGADO SOPORTE' , US.CORREO ,
CONVERT(varchar,FECHA_SOLICITUD,23),HORA_SOLICITUD,NIVEL_URGENCIA,
TIPO_PROBLEMA , COMENTARIO , URL_ADJUNTO , ESTADO
FROM TICKET AS TK
JOIN USUARIO US 
ON TK.COD_USUARIO_SOLICITANTE = US.COD_USUARIO
WHERE COD_USUARIO_SOPORTE = @COD_USUARIO
GO
/****** Object:  StoredProcedure [dbo].[NOTIFICACION_DESCRIPCION]    Script Date: 05-11-2020 19:15:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[NOTIFICACION_DESCRIPCION]
@COD_USUARIO INT AS 
SELECT COUNT(*) , COD_TICKET FROM TICKET WHERE ESTADO = 2 AND VISTO = 0 
AND COD_USUARIO_SOLICITANTE = @COD_USUARIO GROUP BY COD_TICKET;
GO
/****** Object:  StoredProcedure [dbo].[NOTIFICACION_MENSAJES]    Script Date: 05-11-2020 19:15:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[NOTIFICACION_MENSAJES]
@COD_USUARIO INT
AS
SELECT COUNT(*) FROM MENSAJE WHERE COD_USUARIO <> 3 AND COD_TICKET IN 
(SELECT COD_TICKET FROM TICKET WHERE COD_USUARIO_SOLICITANTE = @COD_USUARIO  ) AND VISTO = 0 ;
GO
/****** Object:  StoredProcedure [dbo].[NOTIFICACIONES_CLIENTE]    Script Date: 05-11-2020 19:15:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[NOTIFICACIONES_CLIENTE]
@COD_USUARIO  INT AS 
SELECT COUNT(*) FROM TICKET WHERE ESTADO = 2 AND VISTO = 0 AND COD_USUARIO_SOLICITANTE = @COD_USUARIO ;
GO
/****** Object:  StoredProcedure [dbo].[SOLICITUDES_PENDIENTES_SOPORTE]    Script Date: 05-11-2020 19:15:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SOLICITUDES_PENDIENTES_SOPORTE]
@COD_USUARIO INT
AS
SELECT COUNT(*) AS 'SOLICITUDES PENDIENTES' FROM TICKET WHERE ESTADO = 1 AND COD_USUARIO_SOPORTE = @COD_USUARIO  ; 
GO
/****** Object:  StoredProcedure [dbo].[USUARIOS]    Script Date: 05-11-2020 19:15:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USUARIOS]
AS
SELECT COD_USUARIO , NOMBRE_CLIENTE , CORREO , COD_CONTACTO , telefono , ESACTIVO , COD_ROL , CONTRASEÑA
FROM USUARIO;
GO
/****** Object:  StoredProcedure [dbo].[VISTO_CLIENTE]    Script Date: 05-11-2020 19:15:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[VISTO_CLIENTE]
@COD_USUARIO INT ,
@COD_TICKET INT
AS
UPDATE MENSAJE SET VISTO = 1 WHERE COD_USUARIO <> @COD_USUARIO AND COD_TICKET = @COD_TICKET;
GO
/****** Object:  StoredProcedure [dbo].[VISTO_CLIENTE_TODOS]    Script Date: 05-11-2020 19:15:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[VISTO_CLIENTE_TODOS]
@COD_USUARIO INT 
AS
UPDATE TICKET SET VISTO = 1 WHERE COD_USUARIO_SOLICITANTE = @COD_USUARIO AND ESTADO = 2 ;
GO
/****** Object:  StoredProcedure [dbo].[VISTO_SOPORTE]    Script Date: 05-11-2020 19:15:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[VISTO_SOPORTE]
@COD_USUARIO INT ,
@COD_TICKET INT
AS
UPDATE MENSAJE SET VISTO = 1 WHERE COD_USUARIO <> @COD_USUARIO AND COD_TICKET = @COD_TICKET;
GO
