USE [PROYECTO_KYROS]
GO
/****** Object:  User [admin]    Script Date: 02-01-2021 23:23:47 ******/
CREATE USER [admin] FOR LOGIN [admin] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [admin]
GO
/****** Object:  Table [dbo].[ASIGNACION_TAREA]    Script Date: 02-01-2021 23:23:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASIGNACION_TAREA](
	[COD_ASIGNACION_TAREA] [int] IDENTITY(1,1) NOT NULL,
	[COD_TAREA] [int] NULL,
	[COD_USUARIO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_ASIGNACION_TAREA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INPUTACION]    Script Date: 02-01-2021 23:23:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INPUTACION](
	[COD_INPUTACION] [nvarchar](10) NOT NULL,
	[IMP_MES] [int] NOT NULL,
	[IMP_ANIO] [int] NOT NULL,
	[IMP_ESTADO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_INPUTACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROYECTO]    Script Date: 02-01-2021 23:23:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROYECTO](
	[COD_PROYECTO] [int] IDENTITY(1,1) NOT NULL,
	[PRO_DESCRIPCION] [nvarchar](150) NULL,
	[COD_CLIENTE] [int] NULL,
	[COD_USUARIO_JEFE] [int] NULL,
	[PRO_FECHA] [date] NULL,
	[PRO_ESTADO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_PROYECTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROL]    Script Date: 02-01-2021 23:23:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROL](
	[COD_ROL] [int] IDENTITY(1,1) NOT NULL,
	[ROL_DESCRIPCION] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_ROL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUB_PROYECTO]    Script Date: 02-01-2021 23:23:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUB_PROYECTO](
	[COD_SUB_PROYECTO] [int] IDENTITY(1,1) NOT NULL,
	[SPR_DESCRIPCION] [nvarchar](150) NULL,
	[SPR_FECHA] [date] NULL,
	[COD_PROYECTO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_SUB_PROYECTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAREA]    Script Date: 02-01-2021 23:23:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAREA](
	[COD_TAREA] [int] IDENTITY(1,1) NOT NULL,
	[TAR_DESCRIPCION] [nvarchar](250) NULL,
	[TAR_FECHA] [date] NULL,
	[TAR_HORAS_PLANIFICADAS] [time](7) NULL,
	[COD_PROYECTO] [int] NULL,
	[TAR_ES_SUBPROYECTO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_TAREA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 02-01-2021 23:23:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[COD_USUARIO] [int] IDENTITY(1,1) NOT NULL,
	[USU_NOMBRE] [nvarchar](70) NULL,
	[USU_APELLIDO] [nvarchar](70) NULL,
	[USU_CORREO] [nvarchar](150) NULL,
	[USU_CONTRASENIA] [nvarchar](100) NULL,
	[USU_ESTADO] [int] NULL,
	[COD_ROL] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ROL] ON 

INSERT [dbo].[ROL] ([COD_ROL], [ROL_DESCRIPCION]) VALUES (1, N'administrador')
INSERT [dbo].[ROL] ([COD_ROL], [ROL_DESCRIPCION]) VALUES (2, N'usuario')
SET IDENTITY_INSERT [dbo].[ROL] OFF
GO
SET IDENTITY_INSERT [dbo].[USUARIO] ON 

INSERT [dbo].[USUARIO] ([COD_USUARIO], [USU_NOMBRE], [USU_APELLIDO], [USU_CORREO], [USU_CONTRASENIA], [USU_ESTADO], [COD_ROL]) VALUES (2, N'Vicente', N'Muñoz', N'vicente.munoz@kyros.cl', N'qazxsw2134e', 1, 1)
INSERT [dbo].[USUARIO] ([COD_USUARIO], [USU_NOMBRE], [USU_APELLIDO], [USU_CORREO], [USU_CONTRASENIA], [USU_ESTADO], [COD_ROL]) VALUES (3, N'Rosa', N'oliva', N'rosa@gmail.com', N'qazxsw2134e', 1, 1)
SET IDENTITY_INSERT [dbo].[USUARIO] OFF
GO
ALTER TABLE [dbo].[ASIGNACION_TAREA]  WITH CHECK ADD FOREIGN KEY([COD_TAREA])
REFERENCES [dbo].[TAREA] ([COD_TAREA])
GO
ALTER TABLE [dbo].[ASIGNACION_TAREA]  WITH CHECK ADD FOREIGN KEY([COD_USUARIO])
REFERENCES [dbo].[USUARIO] ([COD_USUARIO])
GO
ALTER TABLE [dbo].[PROYECTO]  WITH CHECK ADD FOREIGN KEY([COD_USUARIO_JEFE])
REFERENCES [dbo].[USUARIO] ([COD_USUARIO])
GO
ALTER TABLE [dbo].[PROYECTO]  WITH CHECK ADD FOREIGN KEY([COD_USUARIO_JEFE])
REFERENCES [dbo].[USUARIO] ([COD_USUARIO])
GO
ALTER TABLE [dbo].[SUB_PROYECTO]  WITH CHECK ADD FOREIGN KEY([COD_PROYECTO])
REFERENCES [dbo].[PROYECTO] ([COD_PROYECTO])
GO
ALTER TABLE [dbo].[TAREA]  WITH CHECK ADD FOREIGN KEY([COD_PROYECTO])
REFERENCES [dbo].[PROYECTO] ([COD_PROYECTO])
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD FOREIGN KEY([COD_ROL])
REFERENCES [dbo].[ROL] ([COD_ROL])
GO
/****** Object:  StoredProcedure [dbo].[ELIMINAR_USUARIO]    Script Date: 02-01-2021 23:23:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ELIMINAR_USUARIO] 
@COD_USUARIO INT 
AS
DELETE FROM USUARIO WHERE COD_USUARIO = @COD_USUARIO
GO
/****** Object:  StoredProcedure [dbo].[GUARDAR_USUARIO]    Script Date: 02-01-2021 23:23:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GUARDAR_USUARIO] 
@NOMBRE NVARCHAR(50),
@APELLIDO NVARCHAR(50),
@CORREO NVARCHAR(50),
@CONTRASENIA NVARCHAR(50),
@ESTADO INT ,
@ROL INT
AS
INSERT INTO USUARIO VALUES (@NOMBRE,@APELLIDO,@CORREO,@CONTRASENIA,@ESTADO,@ROL);
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_UN_USUARIO]    Script Date: 02-01-2021 23:23:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LISTAR_UN_USUARIO]
@COD_USUARIO INT
AS
SELECT COD_USUARIO , USU_NOMBRE , USU_APELLIDO , USU_CORREO , USU_CONTRASENIA , USU_ESTADO , COD_ROL FROM USUARIO WHERE COD_USUARIO = @COD_USUARIO
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_USUARIOS]    Script Date: 02-01-2021 23:23:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[LISTAR_USUARIOS]
AS
SELECT COD_USUARIO , USU_NOMBRE, USU_APELLIDO , USU_CORREO , USU_ESTADO , COD_ROL FROM USUARIO
GO
/****** Object:  StoredProcedure [dbo].[LOGIN]    Script Date: 02-01-2021 23:23:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LOGIN] 
@CORREO nvarchar(200),
@CONTRASENIA nvarchar(200)
AS
DECLARE
@EXITS INT;
BEGIN
	SET @EXITS = (SELECT COUNT(*) FROM USUARIO WHERE USU_CORREO = @CORREO AND USU_CONTRASENIA = @CONTRASENIA AND USU_ESTADO = 1);
	IF @EXITS = 1
		 SELECT (SELECT COD_USUARIO  FROM USUARIO WHERE USU_CORREO = @CORREO AND USU_CONTRASENIA = @CONTRASENIA AND USU_ESTADO = 1) AS 'RESULTADO' ;
	ELSE
		 SELECT 0 as 'RESULTADO';
END;
GO
/****** Object:  StoredProcedure [dbo].[MODIFICAR_USUARIO]    Script Date: 02-01-2021 23:23:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MODIFICAR_USUARIO] 
@NOMBRE NVARCHAR(50),
@APELLIDO NVARCHAR(50),
@CORREO NVARCHAR(50),
@CONTRASENIA NVARCHAR(50),
@ESTADO INT ,
@ROL INT,
@COD_USUARIO INT
AS
UPDATE USUARIO SET USU_NOMBRE = @NOMBRE , USU_APELLIDO = @APELLIDO , USU_CORREO = @CORREO , USU_CONTRASENIA = @CONTRASENIA ,
USU_ESTADO = @ESTADO , COD_ROL = @ROL WHERE COD_USUARIO = @COD_USUARIO;
GO
