USE [PROYECTO_KYROS]
GO
/****** Object:  User [admin]    Script Date: 02-01-2021 0:49:34 ******/
CREATE USER [admin] FOR LOGIN [admin] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [admin]
GO
/****** Object:  Table [dbo].[ASIGNACION_TAREA]    Script Date: 02-01-2021 0:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASIGNACION_TAREA](
	[COD_ASIGNACION_TAREA] [int] IDENTITY(1,1) NOT NULL,
	[COD_TAREA] [int] NULL,
	[COD_USUARIO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_ASIGNACION_TAREA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INPUTACION]    Script Date: 02-01-2021 0:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INPUTACION](
	[COD_INPUTACION] [nvarchar](10) NOT NULL,
	[IMP_MES] [int] NOT NULL,
	[IMP_ANIO] [int] NOT NULL,
	[IMP_ESTADO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_INPUTACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROYECTO]    Script Date: 02-01-2021 0:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROYECTO](
	[COD_PROYECTO] [int] IDENTITY(1,1) NOT NULL,
	[PRO_DESCRIPCION] [nvarchar](150) NULL,
	[COD_CLIENTE] [int] NULL,
	[COD_USUARIO_JEFE] [int] NULL,
	[PRO_FECHA] [date] NULL,
	[PRO_ESTADO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_PROYECTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROL]    Script Date: 02-01-2021 0:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROL](
	[COD_ROL] [int] IDENTITY(1,1) NOT NULL,
	[ROL_DESCRIPCION] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_ROL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUB_PROYECTO]    Script Date: 02-01-2021 0:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUB_PROYECTO](
	[COD_SUB_PROYECTO] [int] IDENTITY(1,1) NOT NULL,
	[SPR_DESCRIPCION] [nvarchar](150) NULL,
	[SPR_FECHA] [date] NULL,
	[COD_PROYECTO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_SUB_PROYECTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAREA]    Script Date: 02-01-2021 0:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAREA](
	[COD_TAREA] [int] IDENTITY(1,1) NOT NULL,
	[TAR_DESCRIPCION] [nvarchar](250) NULL,
	[TAR_FECHA] [date] NULL,
	[TAR_HORAS_PLANIFICADAS] [time](7) NULL,
	[COD_PROYECTO] [int] NULL,
	[TAR_ES_SUBPROYECTO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_TAREA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 02-01-2021 0:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[COD_USUARIO] [int] IDENTITY(1,1) NOT NULL,
	[USU_NOMBRE] [nvarchar](70) NULL,
	[USU_APELLIDO] [nvarchar](70) NULL,
	[USU_CORREO] [nvarchar](150) NULL,
	[USU_CONTRASENIA] [nvarchar](100) NULL,
	[USU_ESTADO] [int] NULL,
	[COD_ROL] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ASIGNACION_TAREA]  WITH CHECK ADD FOREIGN KEY([COD_TAREA])
REFERENCES [dbo].[TAREA] ([COD_TAREA])
GO
ALTER TABLE [dbo].[ASIGNACION_TAREA]  WITH CHECK ADD FOREIGN KEY([COD_USUARIO])
REFERENCES [dbo].[USUARIO] ([COD_USUARIO])
GO
ALTER TABLE [dbo].[PROYECTO]  WITH CHECK ADD FOREIGN KEY([COD_USUARIO_JEFE])
REFERENCES [dbo].[USUARIO] ([COD_USUARIO])
GO
ALTER TABLE [dbo].[PROYECTO]  WITH CHECK ADD FOREIGN KEY([COD_USUARIO_JEFE])
REFERENCES [dbo].[USUARIO] ([COD_USUARIO])
GO
ALTER TABLE [dbo].[SUB_PROYECTO]  WITH CHECK ADD FOREIGN KEY([COD_PROYECTO])
REFERENCES [dbo].[PROYECTO] ([COD_PROYECTO])
GO
ALTER TABLE [dbo].[TAREA]  WITH CHECK ADD FOREIGN KEY([COD_PROYECTO])
REFERENCES [dbo].[PROYECTO] ([COD_PROYECTO])
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD FOREIGN KEY([COD_ROL])
REFERENCES [dbo].[ROL] ([COD_ROL])
GO
